@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col border">
    <div class="m-3 d-flex flex-column fw-bold" style="gap: 10px;">
        <p class="fs-5">Data Information</p>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">Register By</div>
                <div class="col-10 row" style="gap: 10px;">
                    <div class="col-4">
                        <input id="tRegisterDate" name="tRegisterDate" value="@(ViewBag.data?.Rows.Count > 0 ? ViewBag.data?.Rows[0]?["RegisterDate"] : "")"
                            type="Text" class="col-4 datepicker-basic form-control form-control-sm" style="max-width: 280px;" />
                    </div>
                    <div class="col-4">
                        <input id="TRegisterBy" name="TRegisterBy" value="@(ViewBag.data?.Rows.Count > 0 ? ViewBag.data?.Rows[0]?["registerBy"] : "")"
                            type="text" class="col-4 form-control form-control-sm" />
                    </div>
                </div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">Last Mod</div>
                <div class="col-10 row" style="gap: 10px;">
                    <div class="col-4">
                        <input id="tmoddate" name="tmoddate" value="@(ViewBag.data?.Rows.Count > 0 ? ViewBag.data?.Rows[0]?["ModDate"] : "")"
                            type="Text" class="col-4 form-control form-control-sm datepicker-basic" style="max-width: 280px;" />
                    </div>
                    <div class="col-4">
                        <input id="tmodby" name="tmodby" value="@(ViewBag.data?.Rows.Count > 0 ? ViewBag.data?.Rows[0]?["ModBy"] : "")"
                            type="text" class="col-4 form-control form-control-sm" />
                    </div>
                </div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">Closed By</div>
                <div class="col-10 row" style="gap: 10px;">
                    <div class="col-4">
                        <input id="tclosedDate" name="tclosedDate" value="@(ViewBag.data?.Rows.Count > 0 ? ViewBag.data?.Rows[0]?["ClosedDate"] : "")"
                            type="Text" class="col-4 form-control form-control-sm datepicker-basic" style="max-width: 280px;" />
                    </div>
                    <div class="col-4">
                        <input id="TClosedBy" name="TClosedBy" value="@(ViewBag.data?.Rows.Count > 0 ? ViewBag.data?.Rows[0]?["ClosedBy"] : "")"
                            type="text" class="col-4 form-control form-control-sm" />
                    </div>
                    <div id="tTagging" name="tTagging" class="col-3 d-none">
                    </div>
                </div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">Tagged By</div>
                <div class="col-10 row" style="gap: 10px;">
                    <div class="col-4">
                        <input type="Text" id="TDTaggingDate" name="TDTaggingDate" value="@(ViewBag.data?.Rows.Count > 0 ? ViewBag.data?.Rows[0]?["TaggingDate"] : "")"
                               class="col-4 form-control form-control-sm datepicker-basic" style="max-width: 280px;" />
                    </div>
                    <div class="col-4">
                        <input id="tTaggingBy" name="tTaggingBy" value="@(ViewBag.data?.Rows.Count > 0 ? ViewBag.data?.Rows[0]?["TaggingBy"] : "")"
                            type="text" class="col-4 form-control form-control-sm" />
                    </div>
                    <div id="" name="" class="col-3 d-none">
                    </div>
                </div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">In Transit By</div>
                <div class="col-10 row" style="gap: 10px;">
                    <div class="col-4">
                        <input id="tInTransitDate" name="tInTransitDate" value="@(ViewBag.data?.Rows.Count > 0 ? ViewBag.data?.Rows[0]?["InTransitDate"] : "")"
                            type="Text" class="col-4 form-control form-control-sm datepicker-basic" style="max-width: 280px;" />
                    </div>
                    <div class="col-4">
                        <input id="tInTransitBy" name="tInTransitBy" value="@(ViewBag.data?.Rows.Count > 0 ? ViewBag.data?.Rows[0]?["InTransitBy"] : "")"
                            type="text" class="col-4 form-control form-control-sm" />
                    </div>
                </div>
            </div>
        </div>
        <div class="container overflow-hidden  mt-2">
            <div class="d-flex justify-content-center" style="gap: 10px;">
                <button id="CViewApp" name="CViewApp" class="btn btn-sm btn-secondary">APPROVAL</button>
                <button id="CClear" name="CClear" class="btn btn-sm btn-secondary">CLEAR</button>
                <button id="CColor" name="CColor" class="btn btn-sm btn-secondary">COLOR</button>
             </div>
        </div>
    </div>
</div>