@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using System.Data;
    @using PlantWebApps.Helper;

    // RegisterDate
    object RegisterDateValue = ViewBag.data?.Rows.Count > 0 ? ViewBag.data?.Rows[0]?["RegisterDate"] : null;
    string RegisterDateFormatted = Utility.NullableDatetime(RegisterDateValue);

    // ModDate
    object ModDateValue = ViewBag.data?.Rows.Count > 0 ? ViewBag.data?.Rows[0]?["ModDate"] : null;
    string ModDateFormatted = Utility.NullableDatetime(ModDateValue);

    // ClosedDate
    object ClosedDateValue = ViewBag.data?.Rows.Count > 0 ? ViewBag.data?.Rows[0]?["ClosedDate"] : null;
    string ClosedDateFormatted = Utility.NullableDatetime(ClosedDateValue);

    // TaggingDate
    object TaggingDateValue = ViewBag.data?.Rows.Count > 0 ? ViewBag.data?.Rows[0]?["TaggingDate"] : null;
    string TaggingDateFormatted = Utility.NullableDatetime(TaggingDateValue);

    // InTransitDate
    object InTransitDateValue = ViewBag.data?.Rows.Count > 0 ? ViewBag.data?.Rows[0]?["InTransitDate"] : null;
    string InTransitDateFormatted = Utility.NullableDatetime(InTransitDateValue);
}

<div class="col border">
    <div class="m-3 d-flex flex-column fw-bold" style="gap: 10px;">
        <p class="fs-5">Data Information</p>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">Register By</div>
                <div class="col-10 row" style="gap: 10px;">
                    <div class="col-4">
                        <input id="tRegisterDate" name="tRegisterDate" value="@RegisterDateFormatted"
                               type="Text" class="col-4 datepicker-basic form-control form-control-sm" style="max-width: 280px;" />
                    </div>
                    <div class="col-4">
                        <input id="TRegisterBy" name="TRegisterBy" value="@(ViewBag.data?.Rows.Count > 0 ? ViewBag.data?.Rows[0]?["registerBy"] : "")"
                               type="text" class="col-4 form-control form-control-sm" />
                    </div>
                </div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">Last Mod</div>
                <div class="col-10 row" style="gap: 10px;">
                    <div class="col-4">
                        <input id="tmoddate" name="tmoddate" value="@ModDateFormatted"
                               type="Text" class="col-4 form-control form-control-sm datepicker-basic" style="max-width: 280px;" />
                    </div>
                    <div class="col-4">
                        <input id="tmodby" name="tmodby" value="@(ViewBag.data?.Rows.Count > 0 ? ViewBag.data?.Rows[0]?["ModBy"] : "")"
                               type="text" class="col-4 form-control form-control-sm" />
                    </div>
                </div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">Closed By</div>
                <div class="col-10 row" style="gap: 10px;">
                    <div class="col-4">
                        <input id="tclosedDate" name="tclosedDate" value="@ClosedDateFormatted"
                               type="Text" class="col-4 form-control form-control-sm datepicker-basic" style="max-width: 280px;" />
                    </div>
                    <div class="col-4">
                        <input id="TClosedBy" name="TClosedBy" value="@(ViewBag.data?.Rows.Count > 0 ? ViewBag.data?.Rows[0]?["ClosedBy"] : "")"
                               type="text" class="col-4 form-control form-control-sm" />
                    </div>
                    <div id="tTagging" name="tTagging" class="col-3 d-none">
                    </div>
                </div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">Tagged By</div>
                <div class="col-10 row" style="gap: 10px;">
                    <div class="col-4">
                        <input type="Text" id="TDTaggingDate" name="TDTaggingDate" value="@TaggingDateFormatted"
                               class="col-4 form-control form-control-sm datepicker-basic" style="max-width: 280px;" />
                    </div>
                    <div class="col-4">
                        <input id="tTaggingBy" name="tTaggingBy" value="@(ViewBag.data?.Rows.Count > 0 ? ViewBag.data?.Rows[0]?["TaggingBy"] : "")"
                               type="text" class="col-4 form-control form-control-sm" />
                    </div>
                    <div id="" name="" class="col-3 d-none">
                    </div>
                </div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">In Transit By</div>
                <div class="col-10 row" style="gap: 10px;">
                    <div class="col-4">
                        <input id="tInTransitDate" name="tInTransitDate" value="@InTransitDateFormatted"
                               type="Text" class="col-4 form-control form-control-sm datepicker-basic" style="max-width: 280px;" />
                    </div>
                    <div class="col-4">
                        <input id="tInTransitBy" name="tInTransitBy" value="@(ViewBag.data?.Rows.Count > 0 ? ViewBag.data?.Rows[0]?["InTransitBy"] : "")"
                               type="text" class="col-4 form-control form-control-sm" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>