@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
@using System.Data;
}

<div class="col border">
    <div class="m-3 d-flex flex-column fw-bold" style="gap: 10px;">
        <p class="fs-5">Status History</p>
        <div id="Liststatus" name="Liststatus" class="table-responsive">
            <table class="table table-sm table-hover">
                <thead class="table-light">
                    <tr>
                        <th>Item Change</th>
                        <th>Desc Change</th>
                        <th>Mod Date</th>
                        <th>Mod By</th>
                        <th>Src</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.ListStatus != null)
                    {
                        @foreach (DataRow row in ViewBag.ListStatus.Rows)
                        {
                            <tr>
                                <td class="fw-normal">@row["itemchange"]</td>
                                <td class="fw-normal">@row["descchange"]</td>
                                <td class="fw-normal">@row["moddate"]</td>
                                <td class="fw-normal">@row["modby"]</td>
                                <td class="fw-normal">@row["src"]</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>