@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using System.Data;
    @using PlantWebApps.Helper;

    object dataTCICost = ViewBag.data?.Rows[0]?["TCICost"];
    string tciCost = dataTCICost != null ? dataTCICost.ToString() : "";
    var formattedTCICost = tciCost != "" ? Convert.ToDecimal(tciCost).ToString("N2") : "";

    var optionsCbWarrantyResult = new List<SelectListItem>
    {
        new SelectListItem { Value = "", Text = "" },
        new SelectListItem { Value = "1", Text = "Accept" },
        new SelectListItem { Value = "2", Text = "Prorate" },
        new SelectListItem { Value = "3", Text = "Accept (Prorated Cost)" },
        new SelectListItem { Value = "4", Text = "Pending Evaluation" },
        new SelectListItem { Value = "4", Text = "Waiting FAR" }
    };

    // DecisionDate
    object DecisionDateValue = ViewBag.data?.Rows.Count > 0 ? ViewBag.data?.Rows[0]?["DecisionDate"] : null;
    string DecisionDateFormatted = Utility.NullableDatetime(DecisionDateValue);
}

<div class="col border">
    <div class="m-3 d-flex flex-column fw-bold" style="gap: 10px;">
        <p class="fs-5">Warranty Details</p>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">Warranty</div>
                <div class="col-3 fw-normal">
                    <select id="cbWarrantyResult" name="cbWarrantyResult" class="col-3 form-control form-control-sm select2">
                        @foreach (var option in optionsCbWarrantyResult)
                        {
                            var value = option.Value;
                            <option value="@value" selected="@(value == ViewBag.data?.Rows[0]?["WarrantyResult"].ToString())">@option.Text</option>
                        }
                    </select>
                </div>
                <div class="col-1"></div>
                <div class="col-2  ">Total Cost</div>
                <div class="col-3">
                    <input id="tCostRepair" name="tCostRepair" 
                        type="text" class="col-3 form-control form-control-sm" />
                </div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">OEM Cost</div>
                <div class="col-3">
                    <input id="tOemCost" name="tOemCost" value="@(ViewBag.data?.Rows.Count > 0 ? ViewBag.data?.Rows[0]?["OemCost"] : "")"
                        type="text" class="col-3 form-control form-control-sm" />
                </div>
                <div class="col-1"></div>
                <div class="col-2  ">TCI Cost</div>
                <div class="col-3">
                    <input id="tTCICost" name="tTCICost" value="@formattedTCICost"
                        type="text" class="col-3 form-control form-control-sm" />
                </div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">WO Previous</div>
                <div class="col-3">
                    <input id="tWOPrevious" name="tWOPrevious" value="@(ViewBag.data?.Rows.Count > 0 ? ViewBag.data?.Rows[0]?["WOPrevious"] : "")"
                        type="text" class="col-3 form-control form-control-sm" />
                </div>
                <div class="col-1"></div>
                <div class="col-2  ">OP Previous</div>
                <div class="col-3">
                    <input id="tOPPrevious" name="tOPPrevious" value="@(ViewBag.data?.Rows.Count > 0 ? ViewBag.data?.Rows[0]?["OPPrevious"] : "")"
                        type="text" class="col-3 form-control form-control-sm" />
                </div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">Internal WO Previous</div>
                <div class="col-3">
                    <input id="tIntWOPrevious" name="tIntWOPrevious" value="@(ViewBag.data?.Rows.Count > 0 ? ViewBag.data?.Rows[0]?["intWOPrevious"] : "")"
                        type="text" class="col-3 form-control form-control-sm" />
                </div>
                <div class="col-1"></div>
                <div class="col-2  ">Settlement Date</div>
                <div class="col-3">
                    <input id="tDecisionDate" name="tDecisionDate" value="@DecisionDateFormatted"
                        type="Text" class="col-3 form-control form-control-sm datepicker-basic" />
                </div>
            </div>
        </div>
    </div>
</div>