@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using System.Data;
}

<!-- Modal -->
<form method="post" enctype="multipart/form-data" asp-controller="JobDispatch">
    <div class="modal fade" id="anDetailModal" tabindex="-1" aria-labelledby="anDetailModal" aria-hidden="true" style="font-size: 12px;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="statusModal">AN Detail</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body row" style="gap: 10px">
                    <div class="container overflow-hidden">
                        <div class="row align-items-center">
                            <div class="col-3" style="font-size: 12px;">
                                Status
                            </div>
                            <div class="col-4">
                                <input type="text" class="col-4 form-control form-control-sm" name="TStatusID" id="TStatusID"
                                       value="@(ViewBag.dataaccess?.Rows.Count > 0 ? ViewBag.dataaccess?.Rows[0]?["StatusID"] : "")" />
                            </div>

                        </div>
                    </div>
                    <div class="container overflow-hidden">
                        <div class="row align-items-center">
                            <div class="col-3" style="font-size: 12px;">Dispatch Type*</div>
                            <div class="col-4">
                                <select disabled class="col-4 form-control form-control-sm select2" name="TType" required>
                                    <option value=""></option>
                                    @foreach (DataRow row in ViewBag.tDispatchType.Rows)
                                    {
                                        var tDispatchTypeId = row["DispatchTypeID"].ToString();
                                        var tDispatchTypeType = row["DispatchType"].ToString();
                                        var selectedDispatchType = ViewBag.typeDispatch?.Rows.Count > 0 ? ViewBag.typeDispatch.Rows[0]["DispatchType"].ToString() : null;
                                        <option value="@tDispatchTypeId" selected="@(tDispatchTypeType == selectedDispatchType ? "selected" : "")">@tDispatchTypeType</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="container overflow-hidden">
                        <div class="row align-items-center">
                            <div class="col-3" style="font-size: 12px;">Advice Note*</div>
                            <div class="col-4">
                                <input type="text" value="@(ViewBag.dataaccess?.Rows.Count > 0 ? ViewBag.dataaccess?.Rows[0]?["DispatchID"] : null)"
                                       class="col-4 form-control form-control-sm" name="TDispatchID" id="TDispatchID" />
                            </div>
                            <div class="col-1" style="font-size: 12px;">
                                ID
                            </div>
                            <div class="col-3">
                                <input type="text" class="col-3 ms-2 form-control form-control-sm" name="TID" value="@ViewBag.id" />
                            </div>
                        </div>
                    </div>
                    <div class="container overflow-hidden">
                        <div class="row align-items-center">
                            <div class="col-3" style="font-size: 12px;">Section ID*</div>
                            <div class="col-4">
                                <input type="text" id="anDetailSection" name="TSectionID" class="col-4 form-control form-control-sm"
                                       value="@(ViewBag.dataaccess?.Rows.Count > 0 ? ViewBag.dataaccess?.Rows[0]?["SectionID"] : null)" />
                            </div>
                            <div class="col-1 text-nowrap" style="font-size: 12px;">Job ID</div>
                            <div class="col-3">
                                <input type="text" id="anDetailJobId" name="TJobID" value="@(ViewBag.dataaccess?.Rows.Count > 0 ? ViewBag.dataaccess?.Rows[0]?["JobID"] : null)"
                                       class="col-3 ms-2 form-control form-control-sm" />
                            </div>
                        </div>
                    </div>
                    <div class="container overflow-hidden">
                        <div class="row align-items-center">
                            <div class="col-3" style="font-size: 12px;">WONO</div>
                            <div class="col-4">
                                <input type="text" id="anDetailWono" name="TWONo" value="@(ViewBag.dataaccess?.Rows.Count > 0 ? ViewBag.dataaccess?.Rows[0]?["WONO"] : string.Empty)"
                                       class="col-4 form-control form-control-sm" required />
                            </div>
                            <div class="col-1 text-nowrap" style="font-size: 12px;">ChWO</div>
                            <div class="col-3">
                                <input type="text" id="anDetailChildWo" name="TChildWO"
                                       class="col-3 ms-2 form-control form-control-sm" required value="@(ViewBag.dataaccess?.Rows.Count > 0 ? ViewBag.dataaccess?.Rows[0]?["ChildWO"] : null)" />
                            </div>
                        </div>
                    </div>
                    <div class="container overflow-hidden">
                        <div class="row align-items-center">
                            <div class="col-3" style="font-size: 12px;">Item No</div>
                            <div class="col-4">
                                <input type="text" class="col-4 form-control form-control-sm" name="TItem" id="TItem" required
                                       value="@(ViewBag.dataaccess?.Rows.Count > 0 ? ViewBag.dataaccess?.Rows[0]?["Item"] : null)" />
                            </div>
                        </div>
                    </div>
                    <div class="container overflow-hidden">
                        <div class="row align-items-center">
                            <div class="col-3" style="font-size: 12px;">
                                Qty
                            </div>
                            <div class="col-4">
                                <input type="text" class="col-4 form-control form-control-sm" name="TQty" id="TQty"
                                       required value="@(ViewBag.dataaccess?.Rows.Count > 0 ? ViewBag.dataaccess?.Rows[0]?["Qty"] : null)" />
                            </div>
                            <div class="col-1 text-nowrap" style="font-size: 12px;">UOM</div>
                            <div class="col-3">
                                <input type="text" class="col-3 ms-2 form-control form-control-sm" name="TTUOM" id="TTUOM"
                                       required value="@(ViewBag.dataaccess?.Rows.Count > 0 ? ViewBag.dataaccess?.Rows[0]?["UOM"] : null)" />
                            </div>
                        </div>
                    </div>
                    <div class="container overflow-hidden">
                        <div class="row align-items-center">
                            <div class="col-3" style="font-size: 12px;">
                                Description
                            </div>
                            <div class="col-8">
                                <textarea row="8" id="anDetailDescription" name="TItemDesc" class="col-8 form-control form-control-sm"
                                          value="@(ViewBag.dataaccess?.Rows.Count > 0 ? ViewBag.dataaccess?.Rows[0]?["ItemDesc"] : null)"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="container overflow-hidden">
                        <div class="row align-items-center">
                            <div class="col-3" style="font-size: 12px;">WO / OFF SITE / OP / OR</div>
                            <div class="col-8">
                                <textarea row="5" class="col-8 form-control form-control-sm" name="TPONo" id="TPONo"
                                          value="@(ViewBag.dataaccess?.Rows.Count > 0 ? ViewBag.dataaccess?.Rows[0]?["PRNo"] : null)"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="container overflow-hidden">
                        <div class="row align-items-center">
                            <div class="col-3" style="font-size: 12px;">PR No</div>
                            <div class="col-4">
                                <input type="text" class="col-4 form-control form-control-sm" name="TPRNo" id="TPRNo"
                                       value="@(ViewBag.dataaccess?.Rows.Count > 0 ? ViewBag.dataaccess?.Rows[0]?["PRNo"] : null)" />
                            </div>
                        </div>
                    </div>
                    <div class="container overflow-hidden">
                        <div class="row align-items-center">
                            <div class="col-3" style="font-size: 12px;">Remarks</div>
                            <div class="col-8">
                                <textarea row="5" class="col-8 form-control form-control-sm" name="TRemarks" id="TRemarks"
                                          value="@(ViewBag.dataaccess?.Rows.Count > 0 ? ViewBag.dataaccess?.Rows[0]?["Remarks"] : null)"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="container overflow-hidden">
                        <div class="row align-items-center">
                            <div class="col-3" style="font-size: 12px;">Register</div>
                            <div class="col-4">
                                <input type="text" class="col-4 form-control form-control-sm" name="TRegisterBy" id="TRegisterBy"
                                       value="@(ViewBag.dataaccess?.Rows.Count > 0 ? ViewBag.dataaccess?.Rows[0]?["RegisterBy"] : null)" />
                            </div>
                            <div class="col-4">
                                <input type="text" class="col-4 ms-2 form-control form-control-sm datepicker-basic" name="TRegisterDate" id="TRegisterDate"
                                       datepicker-basic" value="@(ViewBag.dataaccess?.Rows.Count > 0 ? ViewBag.dataaccess?.Rows[0]?["RegisterDate"] : null)" />
                            </div>
                        </div>
                    </div>
                    <div class="container overflow-hidden">
                        <div class="row align-items-center">
                            <div class="col-3" style="font-size: 12px;">Modification</div>
                            <div class="col-4">
                                <input type="text" class="col-4 form-control form-control-sm" name="TModBy" id="TModBy"
                                       value="@(ViewBag.dataaccess?.Rows.Count > 0 ? ViewBag.dataaccess?.Rows[0]?["ModBy"] : "")" />
                            </div>
                            <div class="col-4">
                                <input type="text" class="col-4 ms-2 datepicker-basic form-control form-control-sm"
                                       name="TModDate" id="TModDate" value="@(ViewBag.dataaccess?.Rows.Count > 0 ? ViewBag.dataaccess?.Rows[0]?["ModDate"] : null)" />
                            </div>
                        </div>
                    </div>
                    <div class="container overflow-hidden">
                        <div class="row align-items-center">
                            <div class="col-3" style="font-size: 12px;">Deleted</div>
                            <div class="col-4">
                                <input type="text" class="col-4 form-control form-control-sm" name="TDeletedBy" id="TDeletedBy"
                                       value="@(ViewBag.dataaccess?.Rows.Count > 0 ? ViewBag.dataaccess?.Rows[0]?["ModBy"] : null)" />
                            </div>
                            <div class="col-4">
                                <input type="text" class="col-4 ms-2 datepicker-basic form-control form-control-sm" id="DeletedDate"
                                       name="DeletedDate" value="@(ViewBag.dataaccess?.Rows.Count > 0 ? ViewBag.dataaccess?.Rows[0]?["ModDate"] : null)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer row">
                    <div class="col-12">
                        <div>Note : If AN Number is Not Found</div>
                        <div>Register first using Module Job Dispatch</div>
                    </div>
                    <div class="d-flex col-12 justify-content-end" style="gap: 10px;">
                        <button type="submit" class="btn btn-primary" id="saveStatusBtn" formaction="/JobDispatch/AddDetail">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
