@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using System.Data;
    ViewData["Title"] = "Job Dispatch";
}

<script>
    // overlay
    function showOverlay() {
        var overlay = document.createElement('div');
        overlay.className = 'overlay';

        var spinner = document.createElement('div');
        spinner.className = 'spinner';

        var text = document.createElement('div');
        text.className = 'text';
        text.innerHTML = 'Processing Data...';

        overlay.appendChild(spinner);
        overlay.appendChild(text);
        document.body.appendChild(overlay);

        setTimeout(function () {
            hideOverlay();
        }, 3000);

        return true;
    }
    function hideOverlay() {
        var overlay = document.querySelector('.overlay');
        if (overlay) {
            document.body.removeChild(overlay);
        }
    }

    // status modal
    document.addEventListener('DOMContentLoaded', function () {
        var dispatchTypeInput = document.getElementById('fDispatchTypeID');
        var dispatchTypeSelect = document.getElementById('dispatchTypeSelect');

        document.getElementById('saveStatusBtn').addEventListener('click', function () {
            var selectedOptions = Array.from(dispatchTypeSelect.selectedOptions).map(option => option.value);

            dispatchTypeInput.value = selectedOptions.join(', ');
        });
    });

    document.addEventListener('DOMContentLoaded', function () {

        var btnDanger = document.getElementById('dispatchTypeRemove');
        var statusInput = document.getElementById('fDispatchTypeID');

        btnDanger.addEventListener('click', function () {
            statusInput.value = '';
        });
    });

    function confirmDelete(id) {
        console.log("clicked", id);
        Swal.fire({
            title: 'Are you sure?',
            html: `
                            <div style="font-size: 16px; text-align: center;">
                                <div style="margin-bottom: 10px;">
                                    Are you sure to delete the following data?
                                </div>
                            </div>
                        `,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                console.log("delete", id);
                $.ajax({
                    method: "POST",
                    url: "/JobDispatch/Delete",
                    data: { id: id }
                }).done(function (response) {
                    Swal.fire("Data Has Been Deleted", "", "success");
                    location.reload();
                });
            }
        });
    }
</script>

<form id="jobDispatchForm" method="post" enctype="multipart/form-data" asp-controller="JobDispatch">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Job Dispatch AN</h5>
                </div>
                <div class="card-body">
                    <div class="mb-2">
                        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvasRight">
                            <i class="fa fa-filter me-2"></i> FILTER
                        </button>
                        <button type="submit" class="btn btn-sm btn-primary" formaction="/JobDispatch/Add">
                            <i class="fa fa-plus me-2"></i> ADD
                        </button>
                        <a class="btn btn-sm btn-primary" id="btnPrint">
                            PRINT
                        </a>
                    </div>

                    <!-- right offcanvas -->
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" data-bs-scroll="true" aria-labelledby="offcanvasScrolling">
                        <div class="offcanvas-header">
                            <span id="offcanvasRightLabel" class="form-label">
                                <i class="fa fa-filter"></i> Filter
                            </span>
                            <button type="button" class="btn-close text-reset btn-sm" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class="mb-2">
                                <label class="form-label">WONO</label>
                                <input type="Text" class="form-control form-control-sm" id="fwono" name="fwono" />
                            </div>
                            <div class="mb-2">
                                <label class="form-label">AN NO</label>
                                <input type="Text" class="form-control form-control-sm" id="tANNO" name="tANNO" />
                            </div>
                            <div class="mb-2 col">
                                <label class="form-label">Section</label>
                                <select class="form-control form-control-sm select2" id="fSectionID" name="fSectionID">
                                    <option value=""></option>
                                    @foreach (DataRow row in ViewBag.section.Rows)
                                    {
                                        var jobSourceId = row["JobSourceID"].ToString();
                                        var jobSource = row["JobSource"].ToString();
                                        <option value="@jobSourceId">@jobSource</option>
                                    }
                                </select>
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Dispatch Date</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="Text" class="form-control form-control-sm datepicker-basic"
                                               name="fdocstart" value="" id="fdocstart" />
                                    </div>
                                    <div class="col-md-6">
                                        <input type="Text" class="form-control form-control-sm datepicker-basic"
                                               name="fdocend" value="" id="fdocend" />
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Dispatch Type</label>
                                <div class="d-flex flex-row" style="gap: 10px;">
                                    <input type="Text" class="form-control form-control-sm" id="fDispatchTypeID"
                                           value="@ViewBag.fDispatchTypeID" name="fDispatchTypeID" style="height: 40px;" />
                                    <div class="d-flex flex-row mb-2" style="gap: 10px;">
                                        <button type="button" class="btn btn-primary" style="min-width: 50px;"
                                                data-bs-toggle="modal" data-bs-target="#dispatchTypeModal">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                        <button type="button" class="btn btn-secondary" id="dispatchTypeRemove" style="min-width: 50px;">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="mb-2">
                                <div class="d-flex" style="gap: 10px;">
                                    <button class="btn btn-sm btn-primary" id="filterButton" type="submit">
                                        <i class="fa fa-search"></i> Search
                                    </button>
                                    <button type="button" id="resetButton" class="btn btn-sm btn-danger">
                                        Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="dispatchTypeModal" tabindex="-1" aria-labelledby="dispatchTypeModal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="statusModal">Status</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <select class="form-select" multiple aria-label="status select" style="min-height: 150px;" id="dispatchTypeSelect">
                                        <option value="For Repair">For Repair</option>
                                        <option value="Spare Part">Spare Part</option>
                                        <option value="Stand">Stand</option>
                                        <option value="After Repair">After Repair</option>
                                        <option value="Patch Dispatch">Patch Dispatch</option>
                                        <option value="Return To Site">Return To Site</option>
                                        <option value="Part For Repair">Part For Repair</option>
                                        <option value="For Trial">For Trial</option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="saveStatusBtn">Save changes</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (TempData.Peek("Msg") != null)
                    {
                        @section Scripts
                    {
                        <script>
                            Swal.fire({
                                title: '@TempData.Peek("Msg")',
                                    icon: '@TempData.Peek("Stat")'
                                });
                            </script>
                        }
                    }

                    <div id="tableContainer" class="table-responsive">
                        <table id="myTable" class="table datatable mb-0 table-sm table-striped table-bordered">
                            <thead class="table-light">
                                <tr>
                                    <th></th>
                                    <th>AN No</th>
                                    <th>Section</th>
                                    <th>Dispatch Type</th>
                                    <th>Attention Name</th>
                                    <th>Attention To</th>
                                    <th>Supplier</th>
                                    <th>Dispatch Date</th>
                                    <th>Handled Date</th>
                                    <th>Received Date</th>
                                    <th>StatusID</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        var tempData = @Html.Raw(Json.Serialize(Model));

        loadIntitalData();

        $('#filterButton').click(function (e) {
            e.preventDefault();
            loadData();
        });

        $('#resetButton').click(function (e) {
            e.preventDefault();
            resetData();
        });

        function loadData() {
            var fwono = $('#fwono').val();
            var tanno = $('#tANNO').val();
            var fsectionid = $('#fSectionID').val();
            var fdocstart = $('#fdocstart').val();
            var fdocend = $('#fdocend').val();
            var fdispatchtypeid = $('#fDispatchTypeID').val();

            // Tampilkan loading overlay
            $('#loadingOverlay').show();

            $.ajax({
                url: '@Url.Action("loadData", "JobDispatch")',
                type: 'GET',
                dataType: 'json',
                data: {
                    fwono: fwono,
                    tanno: tanno,
                    fsectionid: fsectionid,
                    fdocstart: fdocstart,
                    fdocend: fdocend,
                    fdispatchtypeid: fdispatchtypeid
                },
                success: function (test) {
                    //console.log(test);
                    $('.datatable').DataTable().clear().destroy(); // Clear and destroy the existing DataTable
                    $('.datatable').DataTable({
                        searching: false,
                        lengthChange: false,
                        responsive: true,
                        pageLength: 20,
                        data: test, // The data received from the AJAX request
                        columns: [
                            { "data": "edit" },
                            { "data": "id" },
                            { "data": "section" },
                            { "data": "dispatchType" },
                            { "data": "attantionName" },
                            { "data": "attentionTo" },
                            { "data": "project" },
                            { "data": "dispatchDate" },
                            { "data": "handledDate" },
                            { "data": "receivedDate" },
                            { "data": "statusId" },
                            { "data": "delete" }
                        ]
                    });
                    // Sembunyikan loading overlay setelah data dimuat
                    $("#offcanvas").offcanvas("hide");
                    $('#loadingOverlay').hide();
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }

        function loadIntitalData() {
            $('.datatable').DataTable({
                searching: false,
                lengthChange: false,
                responsive: true,
                pageLength: 20,
                data: tempData,
                columns: [
                    { "data": "edit" },
                    { "data": "id" },
                    { "data": "section" },
                    { "data": "dispatchType" },
                    { "data": "attantionName" },
                    { "data": "attentionTo" },
                    { "data": "project" },
                    { "data": "dispatchDate" },
                    { "data": "handledDate" },
                    { "data": "receivedDate" },
                    { "data": "statusId" },
                    { "data": "delete" },
                ]
            });

            $("#offcanvas").offcanvas("hide");
        }

        function resetData() {
            $("#jobDispatchForm")[0].reset();
            $(".select2").val("").trigger("change");
            loadData();
        }
    });

    $("#btnPrint").on("click", function () {
        var selectedRow = $('.datatable').DataTable().row(0).data();
        var id = selectedRow.id;
        var newTabUrl = '/JobDispatch/PrintJsPdf/' + id;
        window.open(newTabUrl, "popupWindow", "width=1280,height=1024");
    });

    var tableCell = document.querySelector('#myTable tbody tr td');
    btnDeleteDetail.addEventListener('click', function (e) {
        console.log('btnDeleteDetail clicked');
        e.preventDefault();
        if (tableCell && tableCell.textContent.trim() !== '') {
            console.log('Showing confirmation dialog');
            Swal.fire({
                title: 'Are you sure to delete this data?',
                showDenyButton: true,
                icon: "warning",
                confirmButtonText: 'Yes',
                denyButtonText: 'No'
            }).then((result) => {
                console.log('User response:', result);
                if (result.isConfirmed) {
                    window.location.href = btnDeleteDetail.href;
                } else if (result.isDenied) {
                    Swal.fire("Data Not Deleted", "", "success");
                }
            });
        }
        else {
            Swal.fire({
                icon: "error",
                title: "There Is No Data To Be Deleted",
            });
        }
    });

</script>