@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using System.Data;
}

<script>
    function updateIntWo(id, wono) {
        Swal.fire({
            title: 'Are you sure?',
            html: `
                        <div style="font-size: 16px; text-align: center;">
                            <div>Are you sure to update PER Internal WO JobID: ${id}</div>
                            <div>With Internal WO : ${wono}</div>
                        </div>
                    `,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#50C878',
            cancelButtonColor: '#808080',
            confirmButtonText: 'Yes'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    method: "POST",
                    url: "/OutstandingInternalWo/UpdateIntWo",
                    data: {
                        id: id,
                        wono: wono
                    },
                    success: function (response) {
                        Swal.fire("Parent WO Updated", "", "success");
                    },
                    error: function (error) {
                        // Handle error response here
                    }
                });
            }
        });
    }
</script>

<form method="post" enctype="multipart/form-data" asp-controller="OutstandingInternalWo">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">PER Job Internal WO</h5>
                </div>
                <div class="card-body">
                    <div class="mb-2">
                        <button type="button" class="btn btn-sm btn-primary" id="cfilter" name="cfilter"
                                data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvasRight">
                            <i class="fa fa-filter me-2"></i> FILTER
                        </button>
                        <button type="button" class="btn btn-sm btn-primary" id="cBulkUpdate" name="cBulkUpdate">
                            BULK UPDATE
                        </button>
                    </div>
                    <!-- right offcanvas -->
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasRightLabel">
                        <div class="offcanvas-header">
                            <span id="offcanvasRightLabel" class="form-label">
                                <i class="fa fa-filter"></i> Filter
                            </span>
                            <button type="button" class="btn-close text-reset btn-sm" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class="row">
                                @* Offsite WO *@
                                <div class="mb-2">
                                    <label class="form-label">Offsite WO</label>
                                    <div class="d-flex flex-row" style="gap: 10px;">
                                        <input type="Text" class="form-control form-control-sm" id="fwono"
                                               name="fwono" value="" />
                                    </div>
                                </div>
                                @* parent wo  *@
                                <div class="mb-2">
                                    <label class="form-label">Parent WO</label>
                                    <div class="d-flex flex-row" style="gap: 10px;">
                                        <input type="Text" class="form-control form-control-sm" id="fParentWO"
                                               name="fParentWO" value="" />
                                    </div>
                                </div>
                                @* register date *@
                                <div class="row">
                                    <label class="form-label">Register Date</label>
                                    <div class="col-md-6">
                                        <input type="Text" class="form-control form-control-sm datepicker-basic"
                                               name="fdocstart" value="" id="fdocstart" />
                                    </div>
                                    <div class="col-md-6">
                                        <input type="Text" class="form-control form-control-sm datepicker-basic"
                                               name="fdocend" value="" id="fdocend" />
                                    </div>
                                </div>
                                @* section  *@
                                <div class="mb-2">
                                    <label class="form-label">Section</label>
                                    <select class="form-control form-control-sm select2" id="fSection" name="fSection">
                                        <option value=""></option>
                                        @foreach (DataRow row in ViewBag.section.Rows)
                                        {
                                            var JobSourceID = row["JobSourceID"].ToString();
                                            var JobSource = row["JobSource"].ToString();
                                            <option value="@JobSourceID">@JobSource</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <hr />
                            <div class="mb-2">
                                <div>
                                    <button type="submit" id="filterButton" class="btn btn-sm btn-primary">
                                        <i class="fa fa-search"></i> Search
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="myTable" class="table table-sm datatable mb-0 table-hover">
                            <thead class="table-light">
                                <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>SECTION</th>
                                    <th class="text-nowrap">REGISTER DATE</th>
                                    <th class="text-nowrap">PARENT WO</th>
                                    <th class="text-nowrap">OFFSITE WO</th>
                                    <th>SUPPLIER ID</th>
                                    <th>COMP DESC</th>
                                    <th>COMP QTY</th>
                                    <th>INT WO</th>
                                    <th>SECTION</th>
                                    <th>WONO</th>
                                    <th>JOB DESC</th>
                                    <th>QTY</th>
                                    <th>STAT</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="dispatchTypeModal" tabindex="-1" aria-labelledby="dispatchTypeModal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="statusModal">Status</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <select class="form-select" multiple aria-label="status select" style="min-height: 150px;" id="dispatchTypeSelect">
                                    <option value="For Repair">For Repair</option>
                                    <option value="Spare Part">Spare Part</option>
                                    <option value="Stand">Stand</option>
                                    <option value="After Repair">After Repair</option>
                                    <option value="Patch Dispatch">Patch Dispatch</option>
                                    <option value="Return To Site">Return To Site</option>
                                    <option value="Part For Repair">Part For Repair</option>
                                    <option value="For Trial">For Trial</option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="saveStatusBtn">Save changes</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                @if (TempData.Peek("Msg") != null)
                {
                    @section Scripts
                {
                    <script>
                        Swal.fire({
                            title: '@TempData.Peek("Msg")',
                                icon: '@TempData.Peek("Stat")'
                            });
                        </script>
                    }
                }
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        loadData();
        $('#filterButton').click(function (e) {
            e.preventDefault();
            loadData();
        });

        function loadData() {
            var fParentWO = $('#fParentWO').val();
            var fwono = $('#fwono').val();
            var fSection = $('#fSection').val();
            var fdocstart = $('#fdocstart').val();
            var fdocend = $('#fdocend').val();

            // Tampilkan loading overlay
            $('#loadingOverlay').show();

            $.ajax({
                url: '@Url.Action("LoadData", "OutstandingInternalWo")',
                type: 'GET',
                dataType: 'json',
                data: {
                    fParentWO: fParentWO,
                    fwono: fwono,
                    fSection: fSection,
                    fdocstart: fdocstart,
                    fdocend: fdocend

                },
                success: function (test) {
                    //console.log(test);
                    $('.datatable').DataTable().clear().destroy(); // Clear and destroy the existing DataTable
                    $('.datatable').DataTable({
                        searching: false,
                        lengthChange: false,
                        responsive: true,
                        pageLength: 20,
                        data: test, // The data received from the AJAX request
                        columns: [
                            { "data": "button" },
                            { "data": "id" },
                            { "data": "section" },
                            { "data": "registerdate" },
                            { "data": "parentwo" },
                            { "data": "offsitewo" },
                            { "data": "supplierid" },
                            { "data": "compdesc" },
                            { "data": "compqty" },
                            { "data": "intwo" },
                            { "data": "wono" },
                            { "data": "jobdesc" },
                            { "data": "qty" },
                            { "data": "jobstatusid" },
                        ]
                    });

                    // Sembunyikan loading overlay setelah data dimuat
                    $("#offcanvas").offcanvas("hide");
                    $('#loadingOverlay').hide();

                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }

        $('#cBulkUpdate').on("click", function () {

            var fParentWO = $('#fParentWO').val();
            var fwono = $('#fwono').val();
            var fSection = $('#fSection').val();
            var fdocstart = $('#fdocstart').val();
            var fdocend = $('#fdocend').val();

            $.ajax({
                method: "POST",
                url: "/OutstandingInternalWo/BulkConfirm",
                success: function (response) {
                    Swal.fire({
                        title: 'Are you sure?',
                        html: `
                            <div style="font-size: 16px; text-align: center;">
                                <div>Are you sure to bulk update ${response} InternalWO ?</div>
                                <div>It Could Take Sometimes, Please Wait</div>
                            </div>
                        `,
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#50C878',
                        cancelButtonColor: '#808080',
                        confirmButtonText: 'Yes'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            Swal.fire("Bulk Int Wo Process Started", "", "info");
                            $.ajax({
                                method: "POST",
                                url: "/OutstandingInternalWo/BulkUpdateIntWo",
                                data: {
                                    fParentWO: fParentWO,
                                    fwono: fwono,
                                    fSection: fSection,
                                    fdocstart: fdocstart,
                                    fdocend: fdocend

                                },
                                success: function (response) {
                                    Swal.fire("Parent WO Updated", "", "success");
                                    window.open("/OutstandingInternalWo/DownloadExcelFile", "_blank");
                                },
                                error: function (error) {
                                    // Handle error response here
                                }
                            });
                        }
                    });
                },
                error: function (error) {
                    // Handle error response here
                }
            });
        });
    });
</script>