@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using System.Data;
    ViewData["Title"] = "Advice Note";
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}

<style>
    .font-label {
        background-color: lightgray;
        font-size: 16px;
    }

    .border {
        border: 1px solid black;
    }

    .border-grey {
        border: 1px solid grey;
    }

    .font-h3 {
        font-size: 12px;
        font-weight: 600;
    }

    .negative-top {
        margin-top: -15px;
    }
</style>


<div class="d-flex flex-column">
    @* assign wo  *@
    <table class="table table-borderless" border="0" style="font-family: Arial;border-color:white">
        <tr>
            <td style="width: 31%">
                Assign Wo 
            </td>
            <td style="width: 5%">:</td>
            <td class="font-label" style="width: 31%">
                @ViewBag.data?.Rows[0]?["WONO"]
            </td>
            <td class="font-label" style="width: 31%">
                @ViewBag.id
            </td>
        </tr>
    </table>
    @* site  *@
    <table class="table table-borderless negative-top" border="0" style="font-family: Arial;border-color:white">
        <tr>
            <td style="width: 31%">
                Site
            </td>
            <td style="width: 5%">:</td>
            <td class="" style="width: 31%">
                @(ViewBag.tUnitNumber?.Rows.Count > 0 ? ViewBag.tUnitNumber.Rows[0]["LocationName"] : "")
            </td>
            <td class="" style="width: 31%">
                @(ViewBag.tUnitNumber?.Rows.Count > 0 ? ViewBag.tUnitNumber.Rows[0]["Location"] : "")
            </td>
        </tr>
    </table>
    @* unit no  *@
    <table class="table table-borderless negative-top" border="0" style="font-family: Arial;border-color:white">
        <tr>
            <td style="width: 31%">
                Unit No
            </td>
            <td style="width: 5%">:</td>
            <td class="" style="width: 31%">
                @ViewBag.data?.Rows[0]?["UnitNumber"]
            </td>
            <td class="" style="width: 31%">
                @(ViewBag.tUnitNumber?.Rows.Count > 0 ? ViewBag.tUnitNumber.Rows[0]["UnitDescription"] : "")
            </td>
        </tr>
    </table>
    @* maint type *@
    <table class="table table-borderless negative-top" border="0" style="font-family: Arial;border-color:white">
        <tr>
            <td style="width: 31%">
                Maint Type
            </td>
            <td style="width: 5%">:</td>
            <td class="" style="width: 31%">
                @ViewBag.data?.Rows[0]?["MaintType"]
            </td>
            <td class="" style="width: 31%">
                @ViewBag.data?.Rows[0]?["MaintDesc"]
            </td>
        </tr>
    </table>
    @* Complaint  *@
    <div class="border negative-top" style="padding: 5px;">
        <div class="font-h3">Complaint</div>
        @* scheduele smu  *@
        <table class="table table-borderless" border="0" style="font-family: Arial;border-color:white;margin-top: 5px;">
            <tr>
                <td style="width: 23.75%">
                    Schedule SMU
                </td>
                <td style="width: 5%">:</td>
                <td class="" style="width: 23.75%">
                    @ViewBag.data?.Rows[0]?["BdgtHours"]
                </td>
                <td class="" style="width: 23.75%">
                    Completed SMU
                </td>
                <td class="" style="width: 23.75%">
                    @ViewBag.data?.Rows[0]?["SMU"]
                </td>
            </tr>
        </table>
        @* details  *@
        <div class="font-h3 negative-top">Details</div>
        <div class="border-grey" style="min-height: 50px; padding: 5px; margin-top: 5px;">@ViewBag.data?.Rows[0]?["Complaint"]</div>
    </div>
    @* cost reviewed *@
    <div class="border" style="padding: 5px; margin-top: 15px;">
        <div class="font-h3">Cost Reviewed</div>
        @* flat rate and currency  *@
        <table class="table table-borderless" border="0" style="font-family: Arial;border-color:white; margin-top: 5px;">
            <tr>
                <td style="width: 22.5%">
                    Flat Rate
                </td>
                <td style="width: 5%">:</td>
                <td class="" style="width: 22.5%">
                    @ViewBag.data?.Rows[0]?["FlatRate"]
                </td>
                <td class="" style="width: 22.5%">
                    Currency
                </td>
                <td style="width: 5%"></td>
                <td class="" style="width: 22.5%">
                    @ViewBag.data?.Rows[0]?["CurrID"]
                </td>
            </tr>
        </table>
        @* addd j parts and total cost before *@
        <table class="table table-borderless negative-top" border="0" style="font-family: Arial;border-color:white">
            <tr>
                <td style="width: 22.5%">
                    Add.I Parts
                </td>
                <td style="width: 5%">:</td>
                <td class="" style="width: 22.5%">
                    @ViewBag.data?.Rows[0]?["ExcPart"]
                </td>
                <td class="" style="width: 22.5%">
                    Total Cost Before
                </td>
                <td style="width: 5%">:</td>
                <td class="" style="width: 22.5%">
                    @ViewBag.data?.Rows[0]?["TotalCostBefore"]
                </td>
            </tr>
        </table>
        @* parts and saving cost *@
        <table class="table table-borderless negative-top" border="0" style="font-family: Arial;border-color:white">
            <tr>
                <td style="width: 22.5%">
                    Parts
                </td>
                <td style="width: 5%">:</td>
                <td class="" style="width: 22.5%">
                    @ViewBag.data?.Rows[0]?["PartCost"]
                </td>
                <td class="" style="width: 22.5%">
                    Saving Cost
                </td>
                <td style="width: 5%">:</td>
                <td class="" style="width: 22.5%">
                    @ViewBag.data?.Rows[0]?["SavingCost"]
                </td>
            </tr>
        </table>
        @* labour and total qoute rev *@
        <table class="table table-borderless negative-top" border="0" style="font-family: Arial;border-color:white">
            <tr>
                <td style="width: 22.5%">
                    Labour
                </td>
                <td style="width: 5%">:</td>
                <td class="" style="width: 22.5%">
                    @ViewBag.data?.Rows[0]?["LabourCost"]
                </td>
                <td class="" style="width: 22.5%">
                    Total Qoute Rev
                </td>
                <td style="width: 5%">:</td>
                <td class="" style="width: 22.5%">
                    @ViewBag.data?.Rows[0]?["TotalQuoteRev"]
                </td>
            </tr>
        </table>
        @* consumable and tci supply *@
        <table class="table table-borderless negative-top" border="0" style="font-family: Arial;border-color:white">
            <tr>
                <td style="width: 22.5%">
                    Cosumable
                </td>
                <td style="width: 5%">:</td>
                <td class="" style="width: 22.5%">
                    @ViewBag.data?.Rows[0]?["ConsCost"]
                </td>
                <td class="" style="width: 22.5%">
                    TCI Supply
                </td>
                <td style="width: 5%">:</td>
                <td class="" style="width: 22.5%">
                    @ViewBag.data?.Rows[0]?["TCISupply"]
                </td>
            </tr>
        </table>
        @* other and total cost *@
        <table class="table table-borderless negative-top" border="0" style="font-family: Arial;border-color:white">
            <tr>
                <td style="width: 22.5%">
                    Other
                </td>
                <td style="width: 5%">:</td>
                <td class="" style="width: 22.5%">
                    @ViewBag.data?.Rows[0]?["OtherCost"]
                </td>
                <td class="" style="width: 22.5%">
                    Total Cost
                </td>
                <td style="width: 5%">:</td>
                <td class="" style="width: 22.5%">
                    @ViewBag.data?.Rows[0]?["TotalCost"]
                </td>
            </tr>
        </table>
        <hr/>
        <table class="table table-borderless negative-top" border="0" style="font-family: Arial;border-color:white">
            <tr>
                <td style="width: 22.5%">
                </td>
                <td style="width: 5%"></td>
                <td class="" style="width: 22.5%">
                </td>
                <td class="font-h3" style="width: 22.5%">
                    New Price
                </td>
                <td style="width: 5%"></td>
                <td class="font-h3" style="width: 22.5%">
                    @ViewBag.data?.Rows[0]?["Price"]
                </td>
            </tr>
        </table>
    </div>
    <div class="border" style="padding: 5px; margin-top: 15px;">
        <div class="font-h3">Strip Down Finding</div>
        <div class="border-grey" style="min-height: 50px; padding: 5px; margin-top: 5px;">@ViewBag.data?.Rows[0]?["StripDown"]</div>
    </div>
    <div class="border" style="padding: 5px; margin-top: 15px; margin-bottom: 0px;">
        <div class="font-h3">Maintenance Failure</div>
        @* radio button  *@
        <div class="d-flex flex-row align-items-center" style="margin-top: 5px;">
            <input name="oCoreInspection" type="radio" id="oCoreInspectionY">
            <label pt-1" for="oCoreInspection">Mechanical</label>
            <input name="oCoreInspection" type="radio" id="oCoreInspectionN">
            <label for="oCoreInspection">Electrical</label>
        </div>
        @* root cause *@
        <table class="table table-borderless" border="0" style="font-family: Arial;border-color:white">
            <tr>
                <td style="width: 31%">
                    Root Cuuse
                </td>
                <td style="width: 5%">:</td>
                <td class="" style="width: 31%">
                    @ViewBag.data?.Rows[0]?["RootCauseCode"]
                </td>
                <td class="" style="width: 31%">
                    @ViewBag.data?.Rows[0]?["RootCauseDesc"]
                </td>
            </tr>
        </table>
        @* recommendation  *@
        <table class="table table-borderless negative-top" border="0" style="font-family: Arial;border-color:white">
            <tr>
                <td style="width: 31%">
                    Recommendation
                </td>
                <td style="width: 5%">:</td>
                <td class="" style="width: 31%">
                    @ViewBag.data?.Rows[0]?["RecCode"]
                </td>
                <td class="" style="width: 31%">
                    @ViewBag.data?.Rows[0]?["RecDesc"]
                </td>
            </tr>
        </table>
        @* Failure code  *@
        <table class="table table-borderless negative-top" border="0" style="font-family: Arial;border-color:white">
            <tr>
                <td style="width: 31%">
                    Failure Code
                </td>
                <td style="width: 5%">:</td>
                <td class="" style="width: 31%">
                    @ViewBag.data?.Rows[0]?["SysFailCode"]
                </td>
                <td class="" style="width: 31%">
                    @ViewBag.data?.Rows[0]?["SysFail"]
                </td>
            </tr>
        </table>
    </div>
    <table class="table mb-0 table-sm table-bordered" style="margin-top: 15px;">
        <thead class="table-secondary">
            <tr>
                <th>Evaluation Code</th>
                <th>Route</th>
                <th>Costing</th>
            </tr>
        </thead>
        <tbody>
        <tbody>
            <tr>
                <td>@(ViewBag.tEvalCode?.Rows.Count > 0 ? ViewBag.tEvalCode.Rows[0]["EvalDesc"] : "")</td>
                <td>@(ViewBag.tEvalCode?.Rows.Count > 0 ? ViewBag.tEvalCode.Rows[0]["Route"] : "")</td>
                <td>@(ViewBag.tEvalCode?.Rows.Count > 0 ? ViewBag.tEvalCode.Rows[0]["Costing"] : "")</td>
            </tr>
        </tbody>
    </table>
</div>

