@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using System.Data;
}

<div class="col border">
    <div class="m-3 d-flex flex-column fw-bold" style="gap: 10px;">
        <p class="fs-5">Job Details</p>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Parent Wo*</div>
                <input type="text" class="col-8" />
                <button type="button" class="btn btn-primary col-2 ms-2" style="max-width: 80px;">Find</button>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Comp.Desc</div>
                <input type="text" class="col-10" />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Maint Type</div>
                <input type="text" class="col-10" />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Comp Type</div>
                <select name="" class="col-10">
                    <option selected></option>
                    <option value="1">PEX</option>
                    <option value="2">Stock</option>
                    <option value="3">Direct Change</option>
                    <option value="4">Consigntment</option>
                </select>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Unit No</div>
                <input type="text" class="col-10" />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Unit Desc</div>
                <textarea class="col-10" aria-label="With textarea" disabled></textarea>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Unit Location</div>
                <textarea class="col-10" aria-label="With textarea" disabled></textarea>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">TCI Part No</div>
                <input type="text" class="col-8" />
                <button type="button" class="btn btn-primary col-2 ms-2" style="max-width: 80px;">Find</button>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">TCI Desc</div>
                <textarea class="col-10" aria-label="With textarea" disabled></textarea>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">TCI Desc2</div>
                <textarea class="col-10" aria-label="With textarea" disabled></textarea>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Routable Stock</div>
                <input type="text" class="col-8" disabled />
                <input type="Text" class="col-2 datepicker-basic ms-2" style="max-width: 80px;" disabled />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Repair By</div>
                <select class="col-10" id="supplierid" name="supplierid">
                    <option value=""></option>
                    @foreach (DataRow row in ViewBag.repairby.Rows)
                    {
                        var supplierid = row["SupplierID"].ToString();
                        var suppliername = row["SupplierName"].ToString();
                        var suppliername2 = row["SupplierName2"].ToString();
                        <option value="@supplierid">@suppliername | @suppliername2 | @supplierid</option>
                    }
                </select>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Supervisor</div>
                <select class="col-10" id="supervisorid" name="supervisorid">
                    <option value=""></option>
                    @foreach (DataRow row in ViewBag.spvdesc.Rows)
                    {
                        var supervisorid = row["SupervisorID"].ToString();
                        var supervisordesc = row["SupervisorDesc"].ToString();
                        <option value="@supervisorid">@supervisordesc</option>
                    }
                </select>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Request P</div>
                <select class="col-10" id="RequestP1" name="RequestP1">
                    <option value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Reason Type</div>
                <select class="col-10" id="reasontypeid" name="reasontypeid">
                    <option value=""></option>
                    @foreach (DataRow row in ViewBag.freason.Rows)
                    {
                        var reasontypeid = row["ReasonTypeID"].ToString();
                        var reasontype = row["ReasonType"].ToString();
                        var reasontypedesc = row["ReasonTypeDesc"].ToString();
                        <option value="@reasontypeid">@reasontype</option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>
