@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	@using System.Data;
	ViewData["Title"] = "Component Evaluation";
}

<script>
	function showOverlay() {
		var overlay = document.createElement('div');
		overlay.className = 'overlay';

		var spinner = document.createElement('div');
		spinner.className = 'spinner';

		var text = document.createElement('div');
		text.className = 'text';
		text.innerHTML = 'Processing Data...';

		overlay.appendChild(spinner);
		overlay.appendChild(text);
		document.body.appendChild(overlay);

		return true; // Allow the server-side click event to proceed
	}

	function confirmDelete(id) {
		Swal.fire({
			title: 'Are you sure?',
			html: `
						<div style="font-size: 16px; text-align: center;">
							<div style="margin-bottom: 10px;">
								Are you sure to delete the following data?
							</div>
						</div>
					`,
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#d33',
			cancelButtonColor: '#3085d6',
			confirmButtonText: 'Yes, delete it!'
		}).then((result) => {
			if (result.isConfirmed) {
				performDelete(id);
			}
		});
	}

	function performDelete(id) {
		$.ajax({
			method: "POST",
			url: "/ComponentEvaluation/Delete",
			dataType: 'json',
			data: { id: id }
		}).done(function (response) {
			location.reload();
		});
	}
</script>

<form id="componentEvaluationForm" method="post" enctype="multipart/form-data" asp-controller="ComponentEvaluation">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title">Component Evaluation Detail</h5>
				</div>
				<div class="card-body">
					<div class="mb-2">
						<button type="button" class="btn btn-sm btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvasRight">
							<i class="fa fa-filter me-2"></i> FILTER
						</button>
						<button type="submit" class="btn btn-sm btn-primary" formaction="/ComponentEvaluation/Export" OnClick="return showOverlay();">
							<i class="fa fa-download me-2"></i> EXPORT
						</button>
						<button type="submit" class="btn btn-sm btn-primary" formaction="/ComponentEvaluation/ExportInvestigation" OnClick="return showOverlay();">
							INVESTIG
						</button>
					</div>

					<!-- right offcanvas -->
					<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" data-bs-scroll="true" aria-labelledby="offcanvasScrolling">
						<div class="offcanvas-header">
							<span id="offcanvasRightLabel" class="form-label">
								<i class="fa fa-filter"></i> Filter
							</span>
							<button type="button" class="btn-close text-reset btn-sm" data-bs-dismiss="offcanvas" aria-label="Close"></button>
						</div>
						<div class="offcanvas-body">
							<div class="row">
								@* Eval by and Wo Number *@
								<div class="row">
									@* eval by *@
									<div class="mb-2 col">
										<label class="form-label">Eval By*</label>
										<select class="form-control form-control-sm select2" style="width:100%" id="fSpvDesc" name="fSpvDesc">
											<option value=""></option>
											@foreach (DataRow row in ViewBag.fSpvDesc.Rows)
											{
												var fSpvDescUserID = row["UserID"].ToString();
												var fSpvDescUserAbr = row["UserAbr"].ToString();
												var fSpvDescUserDesc = row["UserDesc"].ToString();
												<option value="@fSpvDescUserID">@fSpvDescUserAbr | @fSpvDescUserDesc</option>
											}
										</select>
									</div>
									@* wo number *@
									<div class="mb-2 col">
										<div class="d-flex flex-column mb-2">
											<select id="CWOType" name="CWOType" class="border-0">
												<option value="1">WO Number</option>
												<option value="2">Job ID*</option>
												<option value="3">CE ID</option>
											</select>
											<input type="text" id="fSwo" name="fSwo" />
										</div>
									</div>
								</div>
								@* unit desc and root cause *@
								<div class="row">
									@* unit desc *@
									<div class="mb-2 col">
										<label class="form-label">Unit Desc</label>
										<select class="form-control form-control-sm select2" id="fUnitDesc" name="fUnitDesc">
											<option value=""></option>
											@foreach (DataRow row in ViewBag.fUnitDesc.Rows)
											{
												var fUnitDescUnitDescription = row["UnitDescription"].ToString();
												<option value="@fUnitDescUnitDescription">@fUnitDescUnitDescription</option>
											}
										</select>
									</div>
									@* root cause *@
									<div class="mb-2 col">
										<label class="form-label">Root Cause</label>
										<select class="form-control form-control-sm select2" id="fRootCause" name="fRootCause">
											<option value=""></option>
											@foreach (DataRow row in ViewBag.fRootCause.Rows)
											{
												var fRootCauseRootCauseCode = row["RootCauseCode"].ToString();
												var fRootCauseRootCauseDesc = row["RootCauseDesc"].ToString();
												<option value="@fRootCauseRootCauseCode">@fRootCauseRootCauseCode | @fRootCauseRootCauseDesc</option>
											}
										</select>
									</div>
								</div>
								@* eval code and maint type *@
								<div class="row">
									@* eval code *@
									<div class="mb-2 col">
										<label class="form-label">Eval Code</label>
										<select class="form-control form-control-sm select2" id="fEvalCode" name="fEvalCode">
											<option value=""></option>
											@foreach (DataRow row in ViewBag.fEvalCode.Rows)
											{
												var fEvalCodeEvalCode = row["EvalCode"].ToString();
												var fEvalCodeEvalDesc = row["EvalDesc"].ToString();
												<option value="@fEvalCodeEvalCode">@fEvalCodeEvalCode | @fEvalCodeEvalDesc</option>
											}
										</select>
									</div>
									@* maint type *@
									<div class="mb-2 col">
										<label class="form-label">Maint Type</label>
										<select class="form-control form-control-sm select2" id="fMaintBase" name="fMaintBase">
											<option value=""></option>
											@foreach (DataRow row in ViewBag.fmaintbase.Rows)
											{
												var fmaintbaseMaintID = row["MaintID"].ToString();
												var fmaintbasMaintIDDesce = row["MaintIDDesc"].ToString();
												<option value="@fmaintbaseMaintID">@fmaintbaseMaintID | @fmaintbasMaintIDDesce</option>
											}
										</select>
									</div>
								</div>
								@* failed code and rec code *@
								<div class="row">
									<div class="mb-2 col">
										<label class="form-label">Failed Code*</label>
										<select class="form-control form-control-sm select2" id="fFailedCode" name="fFailedCode">
											<option value=""></option>
											@foreach (DataRow row in ViewBag.fFailedCode.Rows)
											{
												var fFailedCodeSysFailCode = row["SysFailCode"].ToString();
												var fFailedCodeSysFail = row["SysFail"].ToString();
												<option value="@fFailedCodeSysFailCode">@fFailedCodeSysFailCode | @fFailedCodeSysFail</option>
											}
										</select>
									</div>
									<div class="mb-2 col">
										<label class="form-label">Rec Code*</label>
										<select class="form-control form-control-sm select2" id="fRecCode" name="fRecCode">
											<option value=""></option>
											@foreach (DataRow row in ViewBag.fRecCode.Rows)
											{
												var fRecCodeRecCode = row["RecCode"].ToString();
												var fRecCodeRecDesc = row["RecDesc"].ToString();
												<option value="@fRecCodeRecCode">@fRecCodeRecCode | @fRecCodeRecDesc</option>
											}
										</select>
									</div>
								</div>
								@* eval date and comp type *@
								<div class="row">
									@* eval date *@
									<div class="mb-2 col">
										<select class="form-label2" name="fDateType" id="fDateType">
											<option value="1">Eval Date</option>
										</select>
										<div class="row">
											@* dstart *@
											<div class="col-md-6">
												<input type="Text" class="form-control form-control-sm datepicker-basic"
													   name="dStart" id="dStart" />
											</div>
											@* dend *@
											<div class="col-md-6">
												<input type="Text" class="form-control form-control-sm datepicker-basic"
													   name="dEnd" id="dEnd" />
											</div>
										</div>
									</div>
									@* comp type *@
									<div class="mb-2 col">
										<label class="form-label">Comp Type</label>
										<select class="form-control form-control-sm select2" id="tCompTypeID" name="tCompTypeID">
											<option value=""></option>
											@foreach (DataRow row in ViewBag.tCompTypeID.Rows)
											{
												var tCompTypeIDCompTypeID = row["CompTypeID"].ToString();
												var tCompTypeIDCompType = row["CompType"].ToString();
												var tCompTypeIDCompTypeDesc = row["CompTypeDesc"].ToString();
												<option value="@tCompTypeIDCompTypeID">@tCompTypeIDCompTypeDesc</option>
											}
										</select>
									</div>
								</div>
								@* reason type and warranty *@
								<div class="row">
									@* reason type *@
									<div class="mb-2 col">
										<label class="form-label">Reason Type</label>
										<select class="form-control form-control-sm select2" id="tReasonType" name="tReasonType">
											<option value=""></option>
											@foreach (DataRow row in ViewBag.tReasonType.Rows)
											{
												var tReasonTypeReasonTypeID = row["ReasonTypeID"].ToString();
												var tReasonTypeReasonType = row["ReasonType"].ToString();
												var tReasonTypeReasonTypeDesc = row["ReasonTypeDesc"].ToString();
												<option value="@tReasonTypeReasonTypeID">@tReasonTypeReasonTypeDesc</option>
											}
										</select>
									</div>
									@* warranty *@
									<div class="mb-2 col">
										<label class="form-label">Warranty</label>
										<select class="form-control form-control-sm" id="cbWarrantyResult" name="cbWarrantyResult">
											<option></option>
											<option value="Accept">Accept</option>
											<option value="Prorate">Prorate</option>
											<option value="Reject">Reject</option>
										</select>
									</div>
								</div>
								@* records *@
								<div class="row">
									<div class="mb-2 col">
										<label class="form-label">Records</label>
										<input type="Text" class="form-control form-control-sm" id="tRecord"
											   value="@ViewBag.statusValue" name="tRecord" />
									</div>
								</div>
								@* sortyby and asc *@
								<div class="row">
									@* sort by *@
									<div class="mb-2 col">
										<label class="form-label">Sort By</label>
										<select class="form-control form-control-sm" id="fSort" name="fSort">
											<option value="ID" selected>ID</option>
											<option value="RegisterDate">Register Date</option>
										</select>
									</div>
									@* asc *@
									<div class="mb-2 col">
										<label class="form-label">Asc</label>
										<select class="form-control form-control-sm" id="fAsc" name="fAsc">
											<option value="ASC">ASC</option>
											<option value="Desc" selected>DSC</option>
										</select>
									</div>
								</div>
								<hr />
								<div class="mb-2">
									<div class="d-flex" style="gap: 10px;">
										<button type="submit" id="filterButton" class="btn btn-sm btn-primary">
											<i class="fa fa-search"></i> Search
										</button>
										<button type="button" id="resetButton" class="btn btn-sm btn-danger">
											Reset
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Modal -->
					<div class="modal fade" id="dispatchTypeModal" tabindex="-1" aria-labelledby="dispatchTypeModal" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h1 class="modal-title fs-5" id="statusModal">Status</h1>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<select class="form-select" multiple aria-label="status select" style="min-height: 150px;" id="dispatchTypeSelect">
										<option value="For Repair">For Repair</option>
										<option value="Spare Part">Spare Part</option>
										<option value="Stand">Stand</option>
										<option value="After Repair">After Repair</option>
										<option value="Patch Dispatch">Patch Dispatch</option>
										<option value="Return To Site">Return To Site</option>
										<option value="Part For Repair">Part For Repair</option>
										<option value="For Trial">For Trial</option>
									</select>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" id="saveStatusBtn">Save changes</button>
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>

					@if (TempData.Peek("Msg") != null)
					{
						@section Scripts
						{
						<script>
							Swal.fire({
								title: '@TempData.Peek("Msg")',
									icon: '@TempData.Peek("Stat")'
								});
							</script>
						}
					}

					<div id="tableContainer" class="table-responsive">
						<table id="myTable" class="table datatable mb-0 table-sm table-striped table-bordered">
							<thead class="table-light">
								<tr>
									<th></th>
									<th>ID</th>
									<th>Wono</th>
									<th>Unit Number</th>
									<th>Unit Description</th>
									<th>Maint Type</th>
									<th>Eval By Abr</th>
									<th>Eval Code</th>
									<th>Root Cause</th>
									<th>Sys Fail Code</th>
									<th>Rec Code</th>
									<th>SMU</th>
									<th>Bdgt Hours</th>
									<th>Job ID</th>
									<th>Register Date</th>
									<th>Eval Date</th>
									<th>PCAM Required</th>
									<th>PCAM Status</th>
									<th>PCAM ID</th>
									<th>PS Date</th>
									<th></th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<script>
	// Load data on page load
	$(document).ready(function () {
		var tempData = @Html.Raw(Json.Serialize(Model));
		loadIntitalData();

		$('#filterButton').click(function (e) {
			console.log("filter is clicked")
			e.preventDefault();
			LoadData();
		});

		$('#resetButton').click(function (e) {
			e.preventDefault();
			resetData();
		});

		function LoadData() {
			var fSpvDesc = $('#fSpvDesc').val();
			var fSwo = $('#fSwo').val();
			var fUnitDesc = $('#fUnitDesc').val();
			var fRootCause = $('#fRootCause').val();
			var fEvalCode = $('#fEvalCode').val();
			var fMaintBase = $('#fMaintBase').val();
			var fFailedCode = $('#fFailedCode').val();
			var fRecCode = $('#fRecCode').val();
			var tCompTypeID = $('#tCompTypeID').val();
			var tReasonType = $('#tReasonType').val();
			var cbWarrantyResult = $('#cbWarrantyResult').val();
			var tRecord = $('#tRecord').val();
			var fSort = $('#fSort').val();
			var fAsc = $('#fAsc').val();
			var dStart = $('#dStart').val();
			var dEnd = $('#dEnd').val();
			var CWOType = $('#CWOType').val();

			// Tampilkan loading overlay
			$('#loadingOverlay').show();

			$.ajax({
				url: '@Url.Action("LoadData", "ComponentEvaluation")',
				type: 'GET',
				dataType: 'json',
				data: {
					fSpvDesc: fSpvDesc,
					fSwo: fSwo,
					fUnitDesc: fUnitDesc,
					fRootCause: fRootCause,
					fEvalCode: fEvalCode,
					fFailedCode: fFailedCode,
					fRecCode: fRecCode,
					tCompTypeID: tCompTypeID,
					tReasonType: tReasonType,
					cbWarrantyResult: cbWarrantyResult,
					tRecord: tRecord,
					fSort: fSort,
					fAsc: fAsc,
					dStart: dStart,
					dEnd: dEnd,
					CWOType: CWOType,
					fMaintBase: fMaintBase,
				},
				success: function (test) {
					//console.log(test);
					$('.datatable').DataTable().clear().destroy(); // Clear and destroy the existing DataTable
					$('.datatable').DataTable({
						searching: false,
						lengthChange: false,
						responsive: true,
						pageLength: 20,
						data: test, // The data received from the AJAX request
						columns: [
							{ "data": "edit" },
							{ "data": "id" },
							{ "data": "wono" },
							{ "data": "unitNumber" },
							{ "data": "unitDescription" },
							{ "data": "maintType" },
							{ "data": "evalByAbr" },
							{ "data": "evalCode" },
							{ "data": "rootCause" },
							{ "data": "sysFailCode" },
							{ "data": "recCode" },
							{ "data": "smu" },
							{ "data": "bdgtHours" },
							{ "data": "jobID" },
							{ "data": "registerDate" },
							{ "data": "evalDate" },
							{ "data": "pcamRequired" },
							{ "data": "pcamStatus" },
							{ "data": "pcamID" },
							{ "data": "psDate" },
							{ "data": "delete" },
						]
					});

					// Sembunyikan loading overlay setelah data dimuat
					$("#offcanvas").offcanvas("hide");
					$('#loadingOverlay').hide();

				},
				error: function (xhr, status, error) {
					console.error(error);
				}
			});
		}

		function loadIntitalData() {
			$('.datatable').DataTable({
				searching: false,
				lengthChange: false,
				responsive: true,
				pageLength: 20,
				data: tempData,
				columns: [
					{ "data": "edit" },
					{ "data": "id" },
					{ "data": "wono" },
					{ "data": "unitNumber" },
					{ "data": "unitDescription" },
					{ "data": "maintType" },
					{ "data": "evalByAbr" },
					{ "data": "evalCode" },
					{ "data": "rootCause" },
					{ "data": "sysFailCode" },
					{ "data": "recCode" },
					{ "data": "smu" },
					{ "data": "bdgtHours" },
					{ "data": "jobID" },
					{ "data": "registerDate" },
					{ "data": "evalDate" },
					{ "data": "pcamRequired" },
					{ "data": "pcamStatus" },
					{ "data": "pcamID" },
					{ "data": "psDate" },
					{ "data": "delete" },
				]
			});
			$("#offcanvas").offcanvas("hide");
		}

		function resetData() {
			$("#componentEvaluationForm")[0].reset();
			$(".select2").val("").trigger("change");
			LoadData();
		}

	});
</script>
