@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="d-flex flex-wrap" id="capture">
    @foreach (var item in ViewBag.data)
    {
        <div class="row m-2" style="border: 3px solid black; max-width: 600px; position: relative;">
            <div class="d-flex flex-column justify-content-between align-items-center">
                <img src="~/images/thiess-noborder.png" style="max-width: 125px;" />
                <div class="fs-4 fw-bold">After Repair Tag</div>
                <div class="fs-4 fw-bold" style="background-color: grey">Direct Charge Item</div>
            </div>
            <div class="d-flex flex-column mt-2" style="gap: 5px;">
                <div class="row align-items-center">
                    <div class="col-4 fs-6 fw-bold">Stock Code</div>
                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.StockItemNo" />
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-4 fs-6 fw-bold">Part Number</div>
                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.TCIPartNo " />
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-4 fs-6 fw-bold">Component. Desc</div>
                    <div class="col-8">
                        <textarea class="form-control form-control-sm fs-6 fw-bold" rows="2">@item.Description1 </textarea>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-4 fs-6 fw-bold">Unit Desc</div>
                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.SearchText " />
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-4 fs-6 fw-bold">Unit Model</div>
                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.UnitDescription " />
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-4 fs-6 fw-bold">Parent WO</div>
                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.OffSiteWO " />
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-4 fs-6 fw-bold">Offsite WO</div>
                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.ChildWO" />
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-4 fs-6 fw-bold">Internal WO</div>
                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.IntWO " />
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-4 fs-6 fw-bold">Supporting WO</div>
                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.WoJobCost " />
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-4 fs-6 fw-bold">OP No</div>
                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.OPNONew " />
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-4 fs-6 fw-bold">TCI Part ID</div>
                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.TCIPartID " />
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-4 fs-6 fw-bold">Repair Type</div>
                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.ExrRepairtype " />
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-4 fs-6 fw-bold">Hours Run</div>
                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.MeterRun " />
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-4 fs-6 fw-bold">HoursToRun (Est)</div>
                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.MeterToRun " />
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-4 fs-6 fw-bold">From</div>
                    <div class="col-8">
                        <textarea class="form-control form-control-sm fs-6 fw-bold" rows="2">@item.SupplierName </textarea>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-4 fs-6 fw-bold">Supplier S/N</div>
                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="" />
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-4 fs-6 fw-bold">Received Date</div>
                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.FormatDate" />
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-4 fs-6 fw-bold">Received By</div>
                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.ReceivedBy " />
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-4 fs-6 fw-bold">Dn Number</div>
                    <div class="col-8">
                        <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.DnNumber " />
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-between mt-2">
                <div class="fs-6 fw-bold" style="color: blue">SGT W/H</div>
                <div class="fs-6 fw-bold" style="color: blue">TCI-PLT-FO-229</div>
            </div>
            <div style="position: absolute; top: 32%; left: 62%; z-index: 1000;" id="parent@(item.ID)"></div>
        </div>
        @foreach (var dataValue in item.DataValue)
        {
            <input class="d-none qrValue" type="text" value="@dataValue" />
            <input class="d-none" id="eID" type="text" value="@item.ID" />
        };
    };
</div>

<script>
    $(document).ready(function () {
        var qrValueCount = $('.qrValue').length;
        var completedRequests = 0;

        $('.qrValue').each(async function (index) {
            var qrValue = $(this).val();
            var eID = $(this).next('#eID').val();

            var imageUrl = "https://placekitten.com/200/300";
            var img = $('<img>').attr('src', imageUrl);
            var divId = 'qrCode';

            var div = $('<div>').attr('id', divId);
            div.append(img);
            $('#parent' + eID).append(div);

            completedRequests++;

            if (completedRequests === qrValueCount) {
                window.jsPDF = window.jspdf.jsPDF;
                var doc = new jsPDF('p', 'mm', 'a4'); // Menggunakan ukuran kertas A4 dalam milimeter

                // html2canvas
                const canvas = await html2canvas($("#capture")[0]);
                const imageData = canvas.toDataURL("image/png");

                // Calculate the desired width and height while maintaining the aspect ratio
                const pdfWidth = doc.internal.pageSize.getWidth() - 20; // Lebar PDF dikurangi margin 10mm di setiap sisi
                const pdfHeight = canvas.height * pdfWidth / canvas.width;

                // add html2canvas image to jspdf
                doc.addImage(imageData, "PNG", 10, 10, pdfWidth, pdfHeight);

                // return the pdf
                doc.save('test.pdf');
                window.close();
            }
        });
    });
</script>

