@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table class="table table-sm" id="table">
    <tbody>
        @if (ViewBag.data.Count % 2 != 0)
        {
            var length = ViewBag.data.Count + 1;

            @for (int i = 0; i < length / 2; i++)
            {
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            }
        }
        else
        {
            var length = ViewBag.data.Count;

            @for (int i = 0; i < length / 2; i++)
            {
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            }
        }
    </tbody>
</table>

@foreach (var item in ViewBag.data)
{
    <div class="row" style="border: 3px solid black; max-width: 550px; position: relative;" id="capture">
        <div class="d-flex justify-content-between align-items-center">
            <img src="~/images/thiess-noborder.png" style="max-width: 125px;" />
            <div class="fs-4 fw-bold">After Repair Tag</div>
        </div>
        <div class="d-flex flex-column mt-2" style="gap: 5px;">
            <div class="row align-items-center">
                <div class="col-4 fs-6 fw-bold">Stock Code</div>
                <div class="col-8">
                    <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.StockItemNo" />
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-4 fs-6 fw-bold">Part Number</div>
                <div class="col-8">
                    <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.TCIPartNo " />
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-4 fs-6 fw-bold">Component. Desc</div>
                <div class="col-8">
                    <textarea class="form-control form-control-sm fs-6 fw-bold" rows="2">@item.Description1 </textarea>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-4 fs-6 fw-bold">Unit Desc</div>
                <div class="col-8">
                    <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.SearchText " />
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-4 fs-6 fw-bold">Unit Model</div>
                <div class="col-8">
                    <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.UnitDescription " />
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-4 fs-6 fw-bold">Parent WO</div>
                <div class="col-8">
                    <input type="text" class="form-control form-control-sm fs-6 fw-bold" id="fWono" value="@item.OffSiteWO " />
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-4 fs-6 fw-bold">Offsite WO</div>
                <div class="col-8">
                    <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.ChildWO" />
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-4 fs-6 fw-bold">Internal WO</div>
                <div class="col-8">
                    <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.IntWO " />
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-4 fs-6 fw-bold">Supporting WO</div>
                <div class="col-8">
                    <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.WoJobCost " />
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-4 fs-6 fw-bold">OP No</div>
                <div class="col-8">
                    <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.OPNONew " />
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-4 fs-6 fw-bold">TCI Part ID</div>
                <div class="col-8">
                    <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.TCIPartID " />
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-4 fs-6 fw-bold">Repair Type</div>
                <div class="col-8">
                    <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.ExrRepairtype " />
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-4 fs-6 fw-bold">Hours Run</div>
                <div class="col-8">
                    <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.MeterRun " />
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-4 fs-6 fw-bold">HoursToRun (Est)</div>
                <div class="col-8">
                    <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.MeterToRun " />
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-4 fs-6 fw-bold">From</div>
                <div class="col-8">
                    <textarea class="form-control form-control-sm fs-6 fw-bold" rows="2">@item.SupplierName </textarea>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-4 fs-6 fw-bold">Supplier S/N</div>
                <div class="col-8">
                    <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.SerialNumberOEM" />
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-4 fs-6 fw-bold">Received Date</div>
                <div class="col-8">
                    <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.FormatDate" />
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-4 fs-6 fw-bold">Received By</div>
                <div class="col-8">
                    <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.ReceivedBy " />
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-4 fs-6 fw-bold">Dn Number</div>
                <div class="col-8">
                    <input type="text" class="form-control form-control-sm fs-6 fw-bold" value="@item.DnNumber " />
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-between mt-2">
            <div class="fs-6 fw-bold" style="color: blue">@item.StoreName</div>
            <div class="fs-6 fw-bold" style="color: blue">@item.TCIPartID</div>
        </div>
        <div style="position: absolute; top: 32%; left: 62%; z-index: 1000;" id="parent@(item.ID)"></div>
    </div>
    @foreach (var dataValue in item.DataValue)
    {
        <input class="d-none qrValue" type="text" value="@dataValue" />
        <input class="d-none" id="eID" type="text" value="@item.ID" />
    };
};


<script>
    $(document).ready(async function () {

        var qrValueCount = $('.qrValue').length;
        var completedRequests = 0;

        $('.qrValue').each(async function (index) {
            var qrValue = $(this).val();
            var eID = $(this).next('#eID').val();

            $.ajax({
                url: '/PrintItem/GenerateQRCodeImage',
                data: {
                    value: qrValue,
                    size: 3
                },
                type: 'GET',
                xhrFields: {
                    responseType: 'blob'
                },
                success: async function (response) {
                    var imageUrl = URL.createObjectURL(response);
                    var img = $('<img>').attr('src', imageUrl);
                    var divId = 'qrCode';

                    var div = $('<div>').attr('id', divId);
                    div.append(img);
                    $('#parent' + eID).append(div);

                    completedRequests++;

                    if (completedRequests === qrValueCount) {
                        // Load the jspdf and jspdf-autotable libraries
                        window.jsPDF = window.jspdf.jsPDF;
                        var doc = new jsPDF('p', 'mm', 'a4');

                        var imageDataArray = [];

                        // Function to convert html element to canvas
                        function htmlElementToCanvas(element) {
                            return new Promise(resolve => {
                                html2canvas(element).then(canvas => {
                                    resolve(canvas);
                                });
                            });
                        }

                        // Loop through each capture element
                        for (const captureElement of $("[id^='capture']")) {
                            const canvas = await htmlElementToCanvas(captureElement);
                            const imageData = canvas.toDataURL("image/png");
                            imageDataArray.push(imageData);
                        }

                        // AUTO TABLE
                        doc.autoTable({
                            html: '#table',
                            theme: 'plain',
                            bodyStyles: { minCellHeight: 133 },

                            didDrawCell: (data) => {
                                const cellIndex = data.column.index + data.row.index * data.table.columns.length;

                                console.log("cell index", cellIndex);
                                console.log("imageDataArray.length", imageDataArray.length);

                                if (cellIndex < imageDataArray.length) {
                                    const imageDataCell = imageDataArray[cellIndex];
                                    doc.addImage(imageDataCell, 'JPEG', data.cell.x + 2, data.cell.y + 2, 85, 130);
                                }
                            },

                            // table styles
                            styles: {
                                font: 'arial',
                                fontSize: 10,
                            },
                        });

                        // return the pdf
                        doc.save('After Repair Tag Direct Charge.pdf');
                        window.close();
                    }
                }
            });
        });

    });
</script>