@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using System.Data;
}

<style>
    .no-bottom {
        border-top: 5px solid red;
        border-right: 5px solid red;
        border-left: 5px solid red;
    }

    .red-border {
        border: 5px solid red;
    }

    .border-left {
        border-top: 5px solid red;
        border-bottom: 5px solid red;
        border-right: 5px solid red;
    }

    .border-y {
        border-right: 5px solid red;
        border-left: 5px solid red;
    }

    .border-yr {
        border-right: 5px solid red;
        border-left: 5px solid red;
        border-bottom: 5px solid red;
    }
</style>

<div class="row" id="capture">
    @foreach (var item in ViewBag.data)
    {
        <div class="d-flex flex-column col-6 p-3">
            <div class="row">
                <div class="col-12 no-bottom">
                    <div class="fw-bold text-center my-n2" style="color: red; font-size: 75px;">HOLD ITEM</div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 red-border">
                    <div class="fs-5 ">Parent WO</div>
                    <div class="fs-4 fw-bold">@item.OffSiteWO</div>
                </div>
                <div class="col-4 border-left">
                    <div class="fs-5 ">Offsite WO</div>
                    <div class="fs-4 fw-bold ">@item.ChildWO</div>
                </div>
                <div class="col-4 border-left">
                    <div class="fs-5 ">Ex Store</div>
                    <div class="fs-4 fw-bold" style="min-height: 75px;">@item.StoreName</div>
                </div>
            </div>
            <div class="row">
                <div class="col-8 border-y">
                    <div class="fs-5 ">Comp. Description</div>
                    <div class="fs-4 fw-bold" style="min-height: 75px;">@item.MaintDesc</div>
                </div>
                <div class="col-4" style="border-right: 5px solid red">
                    <div class="fs-5 ">Start Date</div>
                    <div class="fs-4 fw-bold ">@item.FormatDate</div>
                </div>
            </div>
            <div class="row">
                <div class="col-8 border-yr">
                    <div class="fs-4 fw-bold"></div>
                    <div class="fs-5 ">Unit Description</div>
                    <div class="fs-4 fw-bold ">@item.UnitNumber</div>
                </div>
                <div class="col-4 border-left">
                    <div class="fs-5 ">Until</div>
                    <div class="fs-4 fw-bold" style="min-height: 75px;">@item.UnitDescription</div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $(document).ready(async function () {

        // Load the jspdf and jspdf-autotable libraries
        window.jsPDF = window.jspdf.jsPDF;
        var doc = new jsPDF('l', 'mm', 'a4'); // Menggunakan ukuran kertas A4 dalam milimeter

        // html2canvas
        const canvas = await html2canvas($("#capture")[0]);
        const imageData = canvas.toDataURL("image/png");

        // Calculate the desired width and height while maintaining the aspect ratio
        const pdfWidth = doc.internal.pageSize.getWidth() - 20; // Lebar PDF dikurangi margin 10mm di setiap sisi
        const pdfHeight = canvas.height * pdfWidth / canvas.width;

        // add html2canvas image to jspdf
        doc.addImage(imageData, "PNG", 10, 5, pdfWidth, pdfHeight);

        // return the pdf
        doc.save('Hold Item.pdf');
        window.close();

    });
</script>