@{
    @using System.Data;
    ViewData["Title"] = "User Privillege Form";
}

@if (TempData.Peek("Msg") != null)
{
    @section Scripts
    {
        <script>
            Swal.fire({
                title: '@TempData.Peek("Msg")',
                icon: '@TempData.Peek("Stat")'
            });
        </script>
    }
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 ml-1">User Privillege Form</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">User Privillege</a></li>
                    <li class="breadcrumb-item active">User Privillege Form</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <form method="post" action="/UserPriv/Save">
                <div class="card-body">
                    <div class="mb-2 row">
                        <blockquote class="blockquote custom-blockquote blockquote-outline-secondary rounded p-2 mb-2">
                            <h6>User Information</h6>
                        </blockquote>
                    </div>
                    <table class="table table-condensed table-sm">
                        <tr>
                            <td class="text-end">
                                <label class="form-check-label">JDE No.<span class="text-danger">*</span></label>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input class="form-control form-control-sm" type="text" value="@ViewBag.data?.Rows[0]?["UserID"]" name="userid" id="userid" required>
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary btn-sm">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-end">
                                <label class="form-check-label">Username<span class="text-danger">*</span></label>
                            </td>
                            <td>
                                <input class="form-control form-control-sm" type="text" value="@ViewBag.data?.Rows[0]?["Username"]" name="username" required>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-end">
                                <label class="form-check-label">Full Name</label>
                            </td>
                            <td>
                                <input class="form-control form-control-sm" type="text" value="@ViewBag.data?.Rows[0]?["Fullname"]" name="fullname">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-end">
                                <label class="form-check-label">Short Name</label>
                            </td>
                            <td>
                                <input class="form-control form-control-sm" type="text" value="@ViewBag.data?.Rows[0]?["ShortName"]" name="shortname">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-end">
                                <label class="form-check-label">Supervisor</label>
                            </td>
                            <td>
                                <select class="form-control-sm select2" name="supervisorid" required>
                                    <option value="">Choose Supervisor</option>
                                    @foreach (DataRow row in ViewBag.supv.Rows)
                                    {
                                        var UserID = row["UserID"].ToString();
                                        var FullName = row["FullName"].ToString();
                                        <option value="@UserID" selected="@(UserID == ViewBag.data?.Rows[0]?["SupervisorID"].ToString())">@FullName</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-end">
                                <label class="form-check-label">Crew Name</label>
                            </td>
                            <td>
                                <select class="form-control select2" name="groupname" required>
                                    <option value="">Choose Crew</option>
                                    <option value="A" selected="@(ViewBag.data?.Rows[0]?["GroupName"] == "A")">A</option>
                                    <option value="B" selected="@(ViewBag.data?.Rows[0]?["GroupName"] == "B")">B</option>
                                    <option value="C" selected="@(ViewBag.data?.Rows[0]?["GroupName"] == "C")">C</option>
                                    <option value="D" selected="@(ViewBag.data?.Rows[0]?["GroupName"] == "D")">D</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-end">
                                <label class="form-check-label">Job Cost<span class="text-danger">*</span></label>
                            </td>
                            <td>
                                <select class="form-control-sm select2" name="jobcost" required>
                                    <option value="">Choose Job Cost</option>
                                    @foreach (DataRow row in ViewBag.jobcost.Rows)
                                    {
                                        var Location = row["Location"].ToString();
                                        var LocationName = row["LocationName"].ToString();
                                        <option value="@Location" selected="@(Location == ViewBag.data?.Rows[0]?["JobCost"].ToString())">@Location</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-end">
                                <label class="form-check-label">Job Title</label>
                            </td>
                            <td>
                                <input class="form-control form-control-sm" type="text" value="@ViewBag.data?.Rows[0]?["JobTitle"]" name="jobtitle">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-end">
                                <label class="form-check-label">Privilege</label>
                            </td>
                            <td>
                                <select class="form-control select2" name="priv" required>
                                    <option value="">Choose Privilege</option>
                                    <option value="Administrator" selected="@(ViewBag.data?.Rows[0]?["Previllege"] == "Administrator")">Administrator</option>
                                    <option value="Supervisor" selected="@(ViewBag.data?.Rows[0]?["Previllege"] == "Supervisor")">Supervisor</option>
                                    <option value="User" selected="@(ViewBag.data?.Rows[0]?["Previllege"] == "User")">User</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-end">
                                <label class="form-check-label">Email</label>
                            </td>
                            <td>
                                <input class="form-control form-control-sm" type="text" value="@ViewBag.data?.Rows[0]?["Email"]" name="email">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-end">
                                <label class="form-check-label">Component Database</label>
                            </td>
                            <td>
                                <select class="form-control select2" name="compaccess" required>
                                    <option value="0" selected="@(ViewBag.data?.Rows[0]?["CompAccess"] == false)">No</option>
                                    <option value="1" selected="@(ViewBag.data?.Rows[0]?["CompAccess"] == true)">Yes</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-end">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Timesheet Database</label>
                            </td>
                            <td>
                                <select class="form-control select2" name="timesheetaccess" required>
                                    <option value="0" selected="@(ViewBag.data?.Rows[0]?["TimeSheetAccess"] == false)">No</option>
                                    <option value="1" selected="@(ViewBag.data?.Rows[0]?["TimeSheetAccess"] == true)">Yes</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-end">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Productive Group</label>
                            </td>
                            <td>
                                <select class="form-control select2" name="prodgp" required>
                                    <option value="0" selected="@(ViewBag.data?.Rows[0]?["ProductiveGroup"] == false)">No</option>
                                    <option value="1" selected="@(ViewBag.data?.Rows[0]?["ProductiveGroup"] == true)">Yes</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-end">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Active User</label>
                            </td>
                            <td>
                                <select class="form-control select2" name="status" required>
                                    <option value="0" selected="@(ViewBag.data?.Rows[0]?["ActiveStatus"] == 0)">No</option>
                                    <option value="1" selected="@(ViewBag.data?.Rows[0]?["ActiveStatus"] == -1)">Yes</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer text-end">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save me-2"></i> Save
                    </button>                    
                    <a href="/UserPriv" class="btn btn-primary">
                        <i class="fas fa-angle-left me-2"></i>Back
                    </a>
                </div>
            </form>
            <div class="card-footer text-end">
                <button class="btn btn-primary" onclick="showResetPasswordModal()">Reset Password</button>
            </div>
        </div>
    </div>
    @if (ViewBag.Stat != "Add")
    {
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="mb-2 row">
                        <blockquote class="blockquote custom-blockquote blockquote-outline-secondary rounded p-2 mb-2">
                            <h6>User Access Control</h6>
                        </blockquote>
                    </div>
                    <div class="mb-2">
                        <form method="post" asp-controller="UserPriv">
                            <table class="table table-borderless">
                                <tr>
                                    <td width="30%">
                                        <label class="form-check-label">User Profile</label>
                                    </td>
                                    <td>
                                        <input type="hidden" name="huserid2" id="huserid2" value="@ViewBag.data?.Rows[0]?["UserID"]" />
                                        <select class="form-control select2" id="profileid" name="profileid" required>
                                            <option value="">Choose User Profile</option>
                                            @foreach (DataRow row in ViewBag.profile.Rows)
                                            {
                                                var profileCode = row["profileCode"].ToString();
                                                var ProfileName = row["ProfileName"].ToString();
                                                <option value="@profileCode">@ProfileName</option>
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-link btn-sm" formaction="/UserPriv/AddProfile">
                                            <i class="fa fa-save me-2"></i> Submit Profile
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <form method="post" asp-controller="UserPriv">
                        <input type="hidden" name="huserid" id="huserid" value="@ViewBag.data?.Rows[0]?["UserID"]" />
                        <table class="table table-sm table-striped table-bordered table-sm">
                            <thead class="table-light">
                                <tr>
                                    <th rowspan="2">Module</th>
                                    <th colspan="4" class="text-center">Granted</th>
                                    <th rowspan="2" colspan="2"></th>
                                </tr>
                                <tr>
                                    <th>Open</th>
                                    <th>Add</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <select class="form-control select2" id="smodule" name="smodule" required>
                                            <option value="">Choose Module</option>
                                            @foreach (DataRow row in ViewBag.module.Rows)
                                            {
                                                var GrForm = row["GrForm"].ToString();
                                                var GrName = row["GrName"].ToString();
                                                <option value="@GrForm">@GrName</option>
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control select2" name="sopen" id="sopen">
                                            <option value="0">False</option>
                                            <option value="1">True</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control select2" name="sadd" id="sadd">
                                            <option value="0">False</option>
                                            <option value="1">True</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control select2" name="sedit" id="sedit">
                                            <option value="0">False</option>
                                            <option value="1">True</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control select2" name="sdelete" id="sdelete">
                                            <option value="0">False</option>
                                            <option value="1">True</option>
                                        </select>
                                    </td>
                                    <td colspan="2">
                                        <button type="submit" class="btn btn-link btn-sm" formaction="/UserPriv/SaveAccess">
                                            <i class="fa fa-save me-2"></i> Save
                                        </button>
                                    </td>
                                </tr>
                                @if (ViewBag.dataaccess != null && ViewBag.dataaccess.Rows.Count > 0)
                                {
                                    @foreach (DataRow row in ViewBag.dataaccess.Rows)
                                    {
                                        <tr>
                                            <td>@row["GrDesc"]</td>
                                            <td>@row["GrOpen"]</td>
                                            <td>@row["grAdd"]</td>
                                            <td>@row["GrEdit"]</td>
                                            <td>@row["GrDelete"]</td>
                                            <td class="text-center" style="width:5%">
                                                <button type="button" class="btn btn-link btn-sm" onclick="copy(@row["GrId"])">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            </td>
                                            <td class="text-center" style="width:5%">
                                                <button type="button" class="btn btn-link btn-sm" onclick="confirmDelete(@row["GrId"],'@row["GrDesc"]')">
                                                    <i class="fa fa-trash text-danger"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    }
    
</div>
<style>
    .swal2-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .swal2-input {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
</style>
<script>
    function copy(id) {
        $.ajax({
            method: "POST",
            url: "/UserPriv/EditAccess",
            dataType: 'json',
            data: { id: id }
        }).done(function (msg) {
            var data = msg[0];
            $("#sopen").val(data.gropen).trigger("change");
            $("#smodule").val(data.grform).trigger("change");
            $("#sopen").val(data.gropen).trigger("change");
            $("#sadd").val(data.gradd).trigger("change");
            $("#sedit").val(data.gredit).trigger("change");
            $("#sdelete").val(data.grdelete).trigger("change");
        });
    };

    function confirmDelete(id, frmname) {
        Swal.fire({
            title: 'Are you sure?',
            html: `
                <div style="font-size: 16px; text-align: center;">
                    <div style="margin-bottom: 10px;">
                        Are you sure to delete the following access module?
                    </div>
                    <div style="font-weight: bold;">
                        Access Module: ${frmname}
                    </div>
                </div>
            `,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                performDelete(id);
            }
        });
    }

    function performDelete(id) {
        $.ajax({
            method: "POST",
            url: "/UserPriv/DeleteAccess",
            dataType: 'json',
            data: { id: id }
        }).done(function (response) {
            location.reload();
        });
    }

    function showResetPasswordModal() {
        var userid = $("#userid").val();
        Swal.fire({
            title: 'Reset Password',
            html:
                '<div class="swal2-content">' +
                '<input id="new-password" type="password" class="swal2-input" placeholder="New Password">' +
                '<input id="confirm-password" type="password" class="swal2-input" placeholder="Confirm Password">' +
                '</div>',
            focusConfirm: false,
            preConfirm: () => {
                const newPassword = Swal.getPopup().querySelector('#new-password').value;
                const confirmPassword = Swal.getPopup().querySelector('#confirm-password').value;

                if (newPassword === '' || confirmPassword === '') {
                    Swal.showValidationMessage('Please enter both passwords');
                    return false;
                }

                if (newPassword !== confirmPassword) {
                    Swal.showValidationMessage('Passwords do not match');
                    return false;
                }

                // Eksekusi perintah di controller action resetpassword
                resetPassword(newPassword, userid); // Gantilah "resetPassword" dengan nama fungsi di controller action

                return { newPassword: newPassword, confirmPassword: confirmPassword };
            }
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: 'Password Reset',
                    html: '<center>Password has been reset successfully</center>',
                    icon: 'success'
                });
            }
        });
    }

    function resetPassword(password, userid) {
        // Kode untuk mengirim permintaan ke controller action resetpassword
        // Implementasikan logika reset password sesuai dengan kebutuhan aplikasi Anda
        console.log('Reset Password:', password);
        $.ajax({
            method: "POST",
            url: "/UserPriv/resetPassword",
            dataType: 'json',
            data: { newPassword: password, userid: userid }
        }).done(function (response) {
            location.reload();
        });
    }
    
</script>