@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using System.Data;
    ViewData["Title"] = "User Privillege";
}

<form method="post" enctype="multipart/form-data" asp-controller="UserPriv">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">User Privillege</h5>
                </div>
                <div class="card-body">
                    <div class="mb-2">
                        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvasRight">
                            <i class="fa fa-filter me-2"></i> FILTER
                        </button>
                        <button type="submit" class="btn btn-sm btn-primary" formaction="/UserPriv/Add">
                            <i class="fa fa-plus me-2"></i> ADD
                        </button>
                        <button type="submit" class="btn btn-sm btn-primary" formaction="/UserPriv/Export">
                            <i class="fa fa-download me-2"></i> EXPORT
                        </button>
                    </div>

                    <!-- right offcanvas -->
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasRightLabel">
                        <div class="offcanvas-header">
                            <span id="offcanvasRightLabel" class="form-label">
                                <i class="fa fa-filter"></i> Filter
                            </span>
                            <button type="button" class="btn-close text-reset btn-sm" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class="mb-2">
                                <label class="form-label">Section ID</label>
                                <select class="form-control form-control-sm select2" name="sectionid" id="sectionid">
                                    <option value=""></option>
                                    @foreach (DataRow row in ViewBag.sectionid.Rows)
                                    {
                                        var JobSource = row["JobSource"].ToString();
                                        var JobSourceID = row["JobSourceID"].ToString();
                                        <option value="@JobSourceID">@JobSource</option>
                                    }
                                </select>
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Job Cost</label>
                                <input type="Text" class="form-control form-control-sm" id="jobcost" name="jobcost" />
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Group</label>
                                <select class="form-control form-control-sm select2" name="group" id="group">
                                    <option value=""></option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="D">D</option>
                                </select>
                            </div>
                            <div class="mb-2">
                                <label class="form-label">JDE Number</label>
                                <input type="Text" class="form-control form-control-sm" id="userid" name="userid" />
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Username</label>
                                <input type="Text" class="form-control form-control-sm" id="username" name="username" />
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Fullname</label>
                                <input type="Text" class="form-control form-control-sm" id="fullname" name="fullname" />
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Job Title</label>
                                <input type="Text" class="form-control form-control-sm" id="jobtitle" name="jobtitle" />
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Productive Group</label>
                                <select class="form-control form-control-sm select2" name="prodgp" id="prodgp">
                                    <option value=""></option>
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Activated</label>
                                <select class="form-control form-control-sm select2" name="active" id="active">
                                    <option value=""></option>
                                    <option value="0">No</option>
                                    <option value="-1">Yes</option>
                                </select>
                            </div>
                            <hr />
                            <div class="mb-2">
                                <div>
                                    <button class="btn btn-sm btn-primary" id="filterButton" type="submit">
                                        <i class="fa fa-search"></i> Search
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (TempData.Peek("Msg") != null)
                    {
                        @section Scripts
                        {
                            <script>
                                Swal.fire({
                                    title: '@TempData.Peek("Msg")',
                                    icon: '@TempData.Peek("Stat")'
                                });
                            </script>
                        }
                    }

                    <div id="tableContainer" class="table-responsive">
                        <table id="myTable" class="table datatable mb-0 table-sm table-striped table-bordered">
                            <thead class="table-light">
                                <tr>
                                    <th></th>
                                    <th>Section</th>
                                    <th>Job Cost</th>
                                    <th>Group</th>
                                    <th>JDE Number</th>
                                    <th>Username</th>
                                    <th>FullName</th>
                                    <th>Productive Group</th>
                                    <th>Status</th>
                                    <th>Job Title</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

<script>

    $(document).ready(function () {
        loadData();
        $('#filterButton').click(function (e) {
            e.preventDefault();
            loadData();
        });

        function loadData() {
            var sectionid = $('#sectionid').val();
            var jobcost = $('#jobcost').val();
            var group = $('#group').val();
            var userID = $('#userid').val();
            var username = $('#username').val();
            var fullname = $('#fullname').val();
            var jobtitle = $('#jobtitle').val();
            var prodgp = $('#prodgp').val();
            var active = $('#active').val();

            // Tampilkan loading overlay
            $('#loadingOverlay').show();

            $.ajax({
                url: '@Url.Action("LoadData", "UserPriv")',
                type: 'GET',
                dataType: 'json',
                data: { 
                    sectionid: sectionid, 
                    jobcost: jobcost,
                    group: group,
                    userID: userID, 
                    username: username, 
                    fullname: fullname, 
                    jobtitle: jobtitle, 
                    prodgp: prodgp,
                    active: active 
                },
                success: function (test) {
                    //console.log(test);
                    $('.datatable').DataTable().clear().destroy(); // Clear and destroy the existing DataTable
                    $('.datatable').DataTable({
                        searching: false,
                        lengthChange: false,
                        responsive: true,
                        pageLength: 20,
                        data: test, // The data received from the AJAX request
                        columns: [
                            { "data": "edit" },
                            { "data": "section" },
                            { "data": "jobcost" },
                            { "data": "groupname" },
                            { "data": "userID" },
                            { "data": "username" },
                            { "data": "fullname" },
                            { "data": "productivegp" },
                            { "data": "status" },
                            { "data": "jobtitle" }
                        ]
                    });

                    // Sembunyikan loading overlay setelah data dimuat
                    $("#offcanvas").offcanvas("hide");
                    $('#loadingOverlay').hide();
                    
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }
    });
</script>